.edgtf-blog-holder article {
  margin-bottom: 60px;
  position: relative;
  /*Quote & Link Start */
  /*Quote and Link End */
  /* Twitter Start */
  /* Twitter End */
  /* Instagram Start */
  /* Instagram End */
}

.edgtf-blog-holder article:not(.format-audio) .edgtf-post-image {
  margin-bottom: 20px;
}

.edgtf-blog-holder article .edgtf-post-image img {
  vertical-align: middle;
}

.edgtf-blog-holder article .edgtf-post-text-inner > h1:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h2:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h3:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h4:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h5:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h6:not(.edgtf-post-title) {
  margin: 15px 0;
}

.edgtf-blog-holder article .edgtf-blog-audio-holder {
  margin-bottom: 20px;
}

.edgtf-blog-holder article .edgtf-post-excerpt {
  margin-bottom: 0;
}

.edgtf-blog-holder article.sticky .edgtf-post-title a {
  color: #ed5252;
}

.edgtf-blog-holder article .edgtf-post-info {
  display: inline-block;
}

.edgtf-blog-holder article .edgtf-post-info > div {
  display: inline-block;
  position: relative;
  padding-right: 4px;
  margin-right: 2px;
  font-size: 19px;
  color: #aaaaaa;
}

.edgtf-blog-holder article .edgtf-post-info > div a {
  color: #aaaaaa;
}

.edgtf-blog-holder article .edgtf-post-info > div:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.edgtf-blog-holder article .edgtf-post-info > div:after {
  content: ',';
}

.edgtf-blog-holder article .edgtf-post-info > div:last-child:after {
  content: '';
}

.edgtf-blog-holder article .edgtf-blog-read-more {
  margin-top: 17px;
  display: block;
  color: #000;
  font-weight: 500;
}

.edgtf-blog-holder article .edgtf-post-info-bottom {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  position: relative;
  padding: 10px 0;
}

.edgtf-blog-holder article .edgtf-post-info-bottom a {
  color: #aaa;
}

.edgtf-blog-holder article .edgtf-post-info-bottom a:hover {
  color: #ed5252;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-left {
  float: left;
  width: 50%;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
  float: right;
  text-align: right;
  width: 50%;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list .edgtf-social-share-title {
  display: none;
}

.edgtf-blog-holder article.format-link, .edgtf-blog-holder article.format-quote {
  /* end of edgtf-post-content */
}

.edgtf-blog-holder article.format-link .edgtf-post-content, .edgtf-blog-holder article.format-quote .edgtf-post-content {
  background-color: #f3f3f3;
  /* end of edgtf-post-text */
  /* end of edgtf-post-mark */
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text {
  padding: 60px 20px 60px 20px;
  position: relative;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner {
  position: relative;
  z-index: 10;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-quote-author,
.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet-author, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-quote-author,
.edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet-author {
  display: block;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 1px;
  text-align: center;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title,
.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title,
.edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet {
  margin-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 30px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title a,
.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet a, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title a,
.edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet a {
  color: #353535;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title a:hover,
.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet a:hover, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title a:hover,
.edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet a:hover {
  color: #ed5252;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title span,
.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet span, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title span,
.edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet span {
  color: #ed5252;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-info > div, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-info > div {
  font-size: 16px;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-mark, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-mark {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #dadada;
  z-index: 1;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li {
  margin-right: 22px;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li:last-child, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li:last-child {
  margin-right: 0;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li a, .edgtf-blog-holder article.format-quote .edgtf-post-content .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li a {
  font-size: 14px;
}

.edgtf-blog-holder article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

.edgtf-blog-holder article.edgtf-post-format-twitter .edgtf-post-content .edgtf-post-mark {
  font-size: 150px;
}

.edgtf-blog-holder article.edgtf-post-format-twitter .edgtf-post-content .edgtf-tweet {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.edgtf-blog-holder article.edgtf-post-format-twitter .edgtf-post-content a .edgtf-tweet {
  color: #353535;
}

.edgtf-blog-holder article.edgtf-post-format-twitter .edgtf-post-content a .edgtf-tweet:hover {
  color: #ed5252;
}

.edgtf-blog-holder article.edgtf-post-format-instagram .edgtf-post-content {
  background-color: transparent;
}

.edgtf-blog-holder article.edgtf-post-format-instagram .edgtf-post-image-inner {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.edgtf-blog-holder article.edgtf-post-format-instagram .edgtf-post-image-inner .edgtf-inst-mark {
  position: absolute;
  top: auto;
  bottom: 19px;
  right: 22px;
  font-size: 38px;
  color: #fff;
}

.edgtf-blog-holder article.format-standard .edgtf-post-info-part .edgtf-post-info-date, .edgtf-blog-holder article.format-audio .edgtf-post-info-part .edgtf-post-info-date, .edgtf-blog-holder article.format-video .edgtf-post-info-part .edgtf-post-info-date, .edgtf-blog-holder article.format-gallery .edgtf-post-info-part .edgtf-post-info-date {
  float: left;
  color: #aaa;
  margin-bottom: 10px;
}

.edgtf-blog-holder article.format-standard .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li, .edgtf-blog-holder article.format-audio .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li, .edgtf-blog-holder article.format-video .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li, .edgtf-blog-holder article.format-gallery .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li {
  margin-right: 22px;
}

.edgtf-blog-holder article.format-standard .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li:last-child, .edgtf-blog-holder article.format-audio .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li:last-child, .edgtf-blog-holder article.format-video .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li:last-child, .edgtf-blog-holder article.format-gallery .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li:last-child {
  margin-right: 0;
}

.edgtf-blog-holder article.format-standard .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li a, .edgtf-blog-holder article.format-audio .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li a, .edgtf-blog-holder article.format-video .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li a, .edgtf-blog-holder article.format-gallery .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li a {
  font-size: 14px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-soundcloud-holder iframe {
  width: 100%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry {
  margin-bottom: 20px;
  overflow: visible !important;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-appeared {
  opacity: 1;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-appeared .edgtf-post-info-bottom {
  border-bottom: transparent;
}

.page-template-blog-masonry-full-width .edgtf-blog-holder.edgtf-blog-type-masonry article,
.page-template-blog-masonry .edgtf-blog-holder.edgtf-blog-type-masonry article {
  visibility: hidden;
}

.touch .page-template-blog-masonry-full-width .edgtf-blog-holder.edgtf-blog-type-masonry article, .touch
.page-template-blog-masonry .edgtf-blog-holder.edgtf-blog-type-masonry article {
  visibility: visible;
}

.no-touch .page-template-blog-masonry-full-width .edgtf-blog-holder.edgtf-blog-type-masonry article, .no-touch
.page-template-blog-masonry .edgtf-blog-holder.edgtf-blog-type-masonry article {
  visibility: visible;
  opacity: 0;
  -webkit-transform: translate3d(0, 40px, 0);
  -moz-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

.no-touch .page-template-blog-masonry-full-width .edgtf-blog-holder.edgtf-blog-type-masonry article.edgtf-appeared, .no-touch
.page-template-blog-masonry .edgtf-blog-holder.edgtf-blog-type-masonry article.edgtf-appeared {
  -webkit-transition: all 0.4s cubic-bezier(0.15, 0.7, 0.54, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.15, 0.7, 0.54, 0.99);
  transition: all 0.4s cubic-bezier(0.15, 0.7, 0.54, 0.99);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article {
  display: block;
  width: 32%;
  padding: 0;
  text-align: left;
  vertical-align: top;
  z-index: 100;
  margin: 0 0 20px;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-info-bottom {
  border-bottom: transparent;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-content {
  -webkit-box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s cubic-bezier(0.15, 0.7, 0.54, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.15, 0.7, 0.54, 0.99);
  transition: all 0.4s cubic-bezier(0.15, 0.7, 0.54, 0.99);
}

.edgtf-blog-holder.edgtf-blog-type-masonry article:hover {
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-text {
  padding: 23px 37px 59px;
  background-color: #fff;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-blog-audio-holder,
.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-image {
  margin-bottom: 0;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-quote-author,
.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet-author, .edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-quote-author,
.edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet-author {
  font-size: 15px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title,
.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet, .edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title,
.edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-tweet {
  font-size: 23px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-content .edgtf-post-text {
  padding: 42px 54px 85px 37px;
  overflow: hidden;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title {
  margin-bottom: 0px;
  text-align: left;
  padding: 0;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-content .edgtf-post-text .edgtf-post-mark.edgtf-link-mark {
  position: absolute;
  top: 50%;
  left: auto;
  right: 30px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-content .edgtf-post-text {
  padding: 62px 54px 72px 37px;
  overflow: hidden;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-post-title {
  margin-bottom: 26px;
  padding: 0;
  text-align: left;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner .edgtf-quote-author {
  text-align: left;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-content .edgtf-post-text .edgtf-post-mark.edgtf-quote-mark {
  position: absolute;
  top: 50%;
  left: auto;
  right: 30px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-blog-soundcloud-holder iframe {
  vertical-align: middle;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.edgtf-post-format-twitter .edgtf-post-content .edgtf-post-text {
  padding: 0px;
  text-align: center;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.edgtf-post-format-twitter .edgtf-post-content .edgtf-post-text .edgtf-post-text-inner {
  padding: 110px 26px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.edgtf-post-format-twitter .edgtf-post-mark.edgtf-link-mark {
  padding: 0px;
  width: 100%;
  text-align: center;
  font-size: 197px;
  color: #ededed;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.edgtf-post-format-twitter .edgtf-post-twitter-user {
  margin-bottom: 15px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.edgtf-post-format-twitter .edgtf-post-info {
  position: absolute;
  top: auto;
  bottom: 23px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.edgtf-post-format-instagram .edgtf-inst-mark {
  font-size: 33px;
  top: auto;
  right: 17px;
  bottom: 13px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
  width: 32%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-gutter {
  width: 2%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry #infscr-loading {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-blog-holder.edgtf-masonry-full-width {
  margin-right: 1%;
  margin-left: 1%;
}

.edgtf-blog-holder.edgtf-masonry-full-width article {
  width: 19.2%;
  margin: 0 0 19px;
}

.edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
  width: 19.2%;
}

.edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-gutter {
  width: 1%;
}

.edgtf-blog-holder .edgtf-more-link-container {
  margin-top: 25px;
}

.edgtf-blog-infinite-scroll-button-holder {
  text-align: center;
}

.edgtf-blog-infinite-scroll-button-holder .edgtf-blog-infinite-scroll-button a {
  border: none;
  visibility: hidden;
}

.edgtf-blog-load-more-button-holder {
  text-align: center;
}

.edgtf-filter-blog-holder {
  text-align: center;
  margin-bottom: 30px;
}

.edgtf-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
}

.edgtf-filter-blog-holder li.edgtf-active {
  color: #ed5252;
}

.page-template-blog-masonry article .edgtf-post-info .edgtf-post-info-date,
.page-template-blog-masonry article .edgtf-post-info .edgtf-post-info-category {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

/* #Audio styles - start
   ========================================================================== */
.edgtf-blog-audio-holder {
  width: 100%;
  height: 44px;
}

.edgtf-blog-audio-holder .mejs-container {
  height: 44px !important;
  background: #1d1d1d;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls {
  height: 37px !important;
  padding: 0 13px 0 10px;
  box-sizing: border-box;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time {
  color: #fff;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-button button {
  background-image: url(img/controls.svg);
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #fff;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  margin: 5px 8px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-mute button {
  margin: 7px 4px 7px 2px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls a.mejs-horizontal-volume-slider {
  margin-top: 1px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time {
  padding: 10px 8px 0 6px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  background: #fff;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #ed5252;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail span,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail a {
  height: 5px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  margin-top: 7px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-container,
.edgtf-blog-audio-holder .mejs-container .mejs-controls {
  background: transparent;
}

/* #Audio styles - end
========================================================================== */
/* #Blog Single - start
========================================================================== */
.edgtf-author-description {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d2d2d2;
}

.edgtf-author-description .edgtf-author-description-image {
  float: left;
  width: 165px;
  margin-right: 30px;
}

.edgtf-author-description .edgtf-author-description-image img {
  vertical-align: middle;
}

.edgtf-author-description .edgtf-author-description-text-holder {
  padding-left: 195px;
  position: relative;
}

.edgtf-author-description .edgtf-author-text p:last-child {
  margin: 0;
}

.edgtf-single-tags-holder {
  margin: 20px 0;
}

.edgtf-single-tags-holder .edgtf-single-tags-title {
  display: inline-block;
  margin-right: 5px;
}

.edgtf-single-tags-holder .edgtf-tags {
  display: inline-block;
}

.edgtf-single-tags-holder .edgtf-tags a {
  margin: 0 5px;
}

.edgtf-blog-single-navigation {
  position: relative;
}

.edgtf-blog-single-navigation .edgtf-blog-single-navigation-inner {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev,
.edgtf-blog-single-navigation .edgtf-blog-single-next {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.5px;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev a,
.edgtf-blog-single-navigation .edgtf-blog-single-next a {
  color: #fff;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev a:hover,
.edgtf-blog-single-navigation .edgtf-blog-single-next a:hover {
  color: #ed5252;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev {
  float: left;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next {
  float: right;
}

.edgtf-single-links-pages {
  margin-top: 30px;
}

.edgtf-single-links-pages .edgtf-single-links-pages-inner > a,
.edgtf-single-links-pages .edgtf-single-links-pages-inner > span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

.edgtf-blog-single article {
  margin-bottom: 10px;
}

.edgtf-blog-single article:not(.format-audio) .edgtf-post-image {
  margin-bottom: 35px;
}

.edgtf-blog-single article .edgtf-post-info {
  margin-bottom: 7px;
}

.edgtf-blog-single article .edgtf-post-info-bottom {
  margin-top: 70px;
  font-size: 20px;
  letter-spacing: -0.5px;
  border-top: 2px dotted #d2d2d2;
  padding: 20px 0;
}

.edgtf-blog-single article .edgtf-post-info-bottom a {
  color: #858585;
}

.edgtf-blog-single article .edgtf-post-info-bottom a:hover {
  color: #ed5252;
}

.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list .edgtf-social-share-title {
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #858585;
  display: inline-block;
}

.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li {
  margin-right: 22px;
}

.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li:last-child {
  margin-right: 0;
}

.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li a {
  color: #858585;
  font-size: 14px;
}

.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list li a:hover {
  color: #ed5252;
}

.edgtf-blog-single article .edgtf-blog-audio-holder {
  margin-bottom: 35px;
}

.edgtf-blog-single article .edgtf-blog-soundcloud-holder {
  margin-bottom: 29px;
}

.edgtf-blog-single article .edgtf-post-title {
  margin-bottom: 15px;
}

.edgtf-blog-single article.format-quote .edgtf-post-content {
  background-color: transparent;
}

.edgtf-blog-single article.format-quote .edgtf-post-content .edgtf-post-text {
  background-color: #f3f3f3;
  margin-bottom: 25px;
  padding-bottom: 60px;
}

.edgtf-blog-single article.format-quote .edgtf-post-content .edgtf-post-info {
  margin-bottom: 43px;
}

.edgtf-blog-single article.format-link .edgtf-post-content {
  background-color: transparent;
}

.edgtf-blog-single article.format-link .edgtf-post-content .edgtf-post-text {
  background-color: #f3f3f3;
  margin-bottom: 25px;
  padding-bottom: 60px;
}

.edgtf-blog-single article.format-link .edgtf-post-content .edgtf-post-info {
  margin-bottom: 43px;
}

.edgtf-blog-single article.format-link.edgtf-post-format-instagram .edgtf-post-content .edgtf-post-info {
  margin-bottom: 0px;
}

.edgtf-blog-single article.format-link.edgtf-post-format-instagram .edgtf-post-content .edgtf-post-title {
  margin-top: 0px;
}

.edgtf-blog-single article .edgtf-post-info-category a:hover {
  color: #ed5252;
}

/* #Blog Single - end
========================================================================== */
/* Related Posts - begin
========================================================================== */
.edgtf-related-posts-holder {
  margin-bottom: 35px;
  padding-bottom: 35px;
}

.edgtf-related-posts-holder .edgtf-related-posts-title {
  margin-bottom: 20px;
}

.edgtf-related-posts-holder .edgtf-related-post {
  width: 24.8125%;
  margin-right: 0.25%;
  display: inline-block;
  float: left;
}

.edgtf-related-posts-holder .edgtf-related-post:nth-child(4n) {
  margin-right: 0;
}

.edgtf-related-posts-holder .edgtf-related-post img {
  display: block;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image {
  margin-bottom: 16px;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-title,
.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-info {
  margin-bottom: 6px;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-info {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.edgtf-blog-holder .edgtf-comment-pager .page-numbers {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post,
.edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post {
  width: 33.16%;
  margin-right: 0.25%;
}

.edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post:nth-child(3n),
.edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post:nth-child(3n) {
  margin-right: 0;
}

/* Related Posts - end
========================================================================== */

/*# sourceMappingURL=blog.css.map */