@media only screen and (max-width: 1400px) {
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: 23.5%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content .edgtf-post-image,
  .edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content .edgtf-post-text {
    display: inline-block;
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content .edgtf-post-text-inner {
    padding-left: 0px;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: 32%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry article,
  .edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
    width: 49%;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: 49%;
  }
  .edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post,
  .edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post,
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 49.875%;
  }
  .edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n),
  .edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n),
  .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n) {
    margin-right: 0;
  }
  .edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n+1),
  .edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n+1),
  .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry article,
  .edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder article.format-quote .edgtf-post-title {
    padding-left: 10px;
    padding-right: 10px;
  }
  .edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-social-share-holder.edgtf-list .edgtf-social-share-title {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .edgtf-related-posts-holder .edgtf-related-posts-title h3:before,
  .edgtf-related-posts-holder .edgtf-related-posts-title h3:after {
    display: none !important;
  }
}

/*# sourceMappingURL=blog-responsive.css.map */