@media only screen and (max-width: 1400px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (min-width: 1490px) and (max-width: 1650px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-grid-section .edgtf-section-inner,
  .edgtf-header-vertical .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 1100px;
  }
}

@media only screen and (min-width: 1314px) and (max-width: 1490px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-grid-section .edgtf-section-inner,
  .edgtf-header-vertical .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 1035px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1314px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-grid-section .edgtf-section-inner,
  .edgtf-header-vertical .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 900px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 1150px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 650px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-content {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-two-columns-50-50 .edgtf-column,
  .edgtf-two-columns-66-33 .edgtf-column1,
  .edgtf-two-columns-66-33 .edgtf-column2,
  .edgtf-two-columns-33-66 .edgtf-column1,
  .edgtf-two-columns-33-66 .edgtf-column2,
  .edgtf-two-columns-25-75 .edgtf-column1,
  .edgtf-two-columns-25-75 .edgtf-column2,
  .edgtf-two-columns-75-25 .edgtf-column1,
  .edgtf-two-columns-75-25 .edgtf-column2,
  .edgtf-three-columns .edgtf-column,
  .edgtf-four-columns .edgtf-column,
  .edgtf-five-columns .edgtf-column {
    width: 100%;
  }
  .edgtf-five-columns > .edgtf-five-columns-inner,
  .edgtf-four-columns > .edgtf-four-columns-inner,
  .edgtf-three-columns > .edgtf-three-columns-inner,
  .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner {
    margin: 0;
  }
  .edgtf-two-columns-66-33 .edgtf-column1 .edgtf-column-inner,
  .edgtf-two-columns-66-33 .edgtf-column2 .edgtf-column-inner,
  .edgtf-two-columns-33-66 .edgtf-column1 .edgtf-column-inner,
  .edgtf-two-columns-33-66 .edgtf-column2 .edgtf-column-inner,
  .edgtf-two-columns-75-25 .edgtf-column1 .edgtf-column-inner,
  .edgtf-two-columns-75-25 .edgtf-column2 .edgtf-column-inner,
  .edgtf-two-columns-25-75 .edgtf-column1 .edgtf-column-inner,
  .edgtf-two-columns-25-75 .edgtf-column2 .edgtf-column-inner,
  .edgtf-five-columns > .edgtf-five-columns-inner .edgtf-column-inner,
  .edgtf-four-columns > .edgtf-four-columns-inner .edgtf-column-inner,
  .edgtf-three-columns > .edgtf-three-columns-inner .edgtf-column-inner,
  .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner .edgtf-column-inner {
    padding: 0 0 0 0;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-section-inner-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1400px) {
  .error404 .edgtf-content .edgtf-container .edgtf-404-page .edgtf-page-not-found .edgtf-404-page-text {
    padding: 0 400px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .error404 .edgtf-content .edgtf-container .edgtf-404-page .edgtf-page-not-found .edgtf-404-page-text {
    padding: 0 250px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-comment-list li.depth-2 .edgtf-comment {
    padding-left: 70px;
  }
  .edgtf-comment-list li.depth-3 .edgtf-comment {
    padding-left: 140px;
  }
  .edgtf-comment-list li.depth-4 .edgtf-comment {
    padding-left: 210px;
  }
  .edgtf-comment-list li.depth-5 .edgtf-comment {
    padding-left: 280px;
  }
  .edgtf-comment-list li.depth-6 .edgtf-comment {
    padding-left: 350px;
  }
  .edgtf-comment-list li.depth-7 .edgtf-comment {
    padding-left: 420px;
  }
  .edgtf-comment-list li.depth-8 .edgtf-comment {
    padding-left: 490px;
  }
  .edgtf-comment-list li.depth-9 .edgtf-comment {
    padding-left: 560px;
  }
  .edgtf-comment-list li.depth-10 .edgtf-comment {
    padding-left: 630px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .edgtf-404-page .edgtf-page-not-found h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-comment-list li.depth-2 .edgtf-comment {
    padding-left: 30px;
  }
  .edgtf-comment-list li.depth-3 .edgtf-comment {
    padding-left: 60px;
  }
  .edgtf-comment-list li.depth-4 .edgtf-comment {
    padding-left: 90px;
  }
  .edgtf-comment-list li.depth-5 .edgtf-comment {
    padding-left: 120px;
  }
  .edgtf-comment-list li.depth-6 .edgtf-comment {
    padding-left: 150px;
  }
  .edgtf-comment-list li.depth-7 .edgtf-comment {
    padding-left: 180px;
  }
  .edgtf-comment-list li.depth-8 .edgtf-comment {
    padding-left: 210px;
  }
  .edgtf-comment-list li.depth-9 .edgtf-comment {
    padding-left: 240px;
  }
  .edgtf-comment-list li.depth-10 .edgtf-comment {
    padding-left: 270px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-comment-list li.depth-2 .edgtf-comment {
    padding-left: 20px;
  }
  .edgtf-comment-list li.depth-3 .edgtf-comment {
    padding-left: 40px;
  }
  .edgtf-comment-list li.depth-4 .edgtf-comment {
    padding-left: 60px;
  }
  .edgtf-comment-list li.depth-5 .edgtf-comment {
    padding-left: 80px;
  }
  .edgtf-comment-list li.depth-6 .edgtf-comment {
    padding-left: 100px;
  }
  .edgtf-comment-list li.depth-7 .edgtf-comment {
    padding-left: 120px;
  }
  .edgtf-comment-list li.depth-8 .edgtf-comment {
    padding-left: 140px;
  }
  .edgtf-comment-list li.depth-9 .edgtf-comment {
    padding-left: 160px;
  }
  .edgtf-comment-list li.depth-10 .edgtf-comment {
    padding-left: 180px;
  }
  .edgtf-404-page .edgtf-page-not-found h1 {
    font-size: 33px;
  }
}

@media only screen and (max-width: 480px) {
  .wpb_text_column .alignleft {
    margin: 0 20px 20px 0 !important;
  }
  .edgtf-comment-holder .edgtf-comment-text .edgtf-comment-name {
    float: none;
  }
  .edgtf-comment-holder .edgtf-comment-text .edgtf-reply-edit-holder {
    float: none;
    display: inline-block;
    margin-bottom: 12px;
  }
  .edgtf-comment-holder .edgtf-comment-text .edgtf-reply-edit-holder a {
    line-height: 25px;
  }
  .edgtf-comment-holder .edgtf-comment-text .edgtf-reply-edit-holder a:first-child {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-page-header {
    display: none;
  }
  .edgtf-mobile-header {
    display: block;
  }
  .edgtf-header-vertical .edgtf-vertical-menu-area {
    display: none;
  }
  .edgtf-header-vertical .edgtf-content,
  .edgtf-header-vertical footer {
    padding-left: 0;
  }
  .edgtf-header-vertical .carousel-inner {
    left: 0 !important;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-drop-down .edgtf-menu-wide .edgtf-menu-second > .edgtf-menu-inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-drop-down .edgtf-menu-wide .edgtf-menu-second > .edgtf-menu-inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 96%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .edgtf-four-columns .edgtf-column {
    width: 50% !important;
  }
  .edgtf-four-columns .edgtf-column:first-child .widget:last-child {
    margin-bottom: 50px;
  }
  .edgtf-four-columns .edgtf-column:nth-child(2) .widget:last-child {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  footer .edgtf-column .widget:last-child {
    margin-bottom: 27px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-title.edgtf-has-background {
    background: transparent none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .edgtf-title.edgtf-title-image-not-responsive .edgtf-title-image {
    display: block;
  }
  .edgtf-title .edgtf-title-holder {
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
  }
  .edgtf-title .edgtf-title-holder .edgtf-container {
    display: block;
    height: 100%;
  }
  .edgtf-title .edgtf-title-holder .edgtf-container-inner {
    display: table;
    height: 100%;
  }
  .edgtf-title .edgtf-title-holder .edgtf-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .edgtf-title .edgtf-title-subtitle-holder {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-title.edgtf-title-large-text-size h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-title.edgtf-standard-type.edgtf-content-left-alignment .edgtf-breadcrumbs-holder {
    display: block !important;
    position: relative !important;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-title.edgtf-title-large-text-size h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-fullscreen-search-holder .edgtf-search-label {
    font-size: 20px;
    font-weight: 500;
  }
  .edgtf-fullscreen-search-holder .edgtf-form-holder {
    padding-bottom: 0;
  }
  .edgtf-fullscreen-search-holder .edgtf-field-holder {
    width: 60%;
  }
  .edgtf-fullscreen-search-holder .edgtf-search-submit {
    font-size: 17px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-fullscreen-search-holder .edgtf-search-label {
    display: none;
  }
  .edgtf-fullscreen-search-holder .edgtf-field-holder {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-single-album-stores-holder .edgtf-single-album-store:nth-child(3n+1) {
    clear: none !important;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-overlapping-content-holder .edgtf-overlapping-content {
    padding: 80px 55px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-overlapping-content-enabled .edgtf-title .edgtf-title-holder .edgtf-container {
    padding-bottom: 70px;
  }
  .edgtf-overlapping-content-holder {
    margin-top: -70px;
  }
  .edgtf-overlapping-content-holder .edgtf-overlapping-content {
    padding: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-overlapping-content-enabled .edgtf-title .edgtf-title-holder .edgtf-container {
    padding-bottom: 50px;
  }
  .edgtf-overlapping-content-holder {
    margin-top: -50px;
  }
  .edgtf-overlapping-content-holder .edgtf-overlapping-content {
    padding: 20px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-overlapping-content-enabled .edgtf-title .edgtf-title-holder .edgtf-container {
    padding-bottom: 0;
  }
  .edgtf-overlapping-content-holder {
    margin-top: 0;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-overlapping-content-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-two-columns-grid-33-66 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-two-columns-grid-66-33 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-two-columns-grid-33-66 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-two-columns-grid-66-33 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-two-columns-grid-33-66 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-two-columns-grid-66-33 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-two-columns-grid-33-66 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-two-columns-grid-66-33 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-two-columns-grid-33-66 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-two-columns-grid-66-33 .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder .edgtf-elements-holder-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */
/* ==========================================================================
   Google Map start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */
/* ==========================================================================
# Team responsive style - begin
========================================================================== */
/* ==========================================================================
# Team responsive style - end
========================================================================== */
/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */
@media only screen and (min-width: 667px) and (max-width: 1024px) {
  .edgtf-call-to-action .edgtf-call-to-action-row-75-25 .edgtf-call-to-action-column1 {
    width: 65%;
  }
}

@media only screen and (min-width: 667px) and (max-width: 1024px) {
  .edgtf-call-to-action .edgtf-call-to-action-row-75-25 .edgtf-call-to-action-column2 {
    width: 35%;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-call-to-action .edgtf-call-to-action-cell {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-call-to-action .edgtf-text-wrapper .edgtf-call-to-action-icon-holder {
    position: relative;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-call-to-action .edgtf-text-wrapper .edgtf-call-to-action-icon {
    display: inline-block;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-call-to-action .edgtf-text-wrapper .edgtf-call-to-action-text {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-call-to-action.with-icon {
    padding: 0;
  }
}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */
/* ==========================================================================
# Counter responsive style - begin
========================================================================== */
/* ==========================================================================
# Counter responsive style - end
========================================================================== */
/* ==========================================================================
# Countdown responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .countdown-amount {
    font-size: 50px !important;
    line-height: 50px !important;
  }
}

@media only screen and (max-width: 667px) {
  .countdown-amount {
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .countdown-period {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 667px) {
  .countdown-period {
    font-size: 10px !important;
  }
}

/* ==========================================================================
# Countdown responsive style - end
========================================================================== */
/* ==========================================================================
# Message responsive style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .edgtf-message {
    padding: 20px 22px;
  }
}

@media screen and (max-width: 320px) {
  .edgtf-message .edgtf-message-text {
    line-height: normal;
  }
}

/* Unique style for both types - end
========================================================================== */
/* Type with icon - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .edgtf-message.edgtf-with-icon .edgtf-message-icon-holder {
    padding: 20px 22px;
  }
}

/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message responsive style - end
========================================================================== */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .edgtf-vertical-menu-area .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 48.75%;
    margin-bottom: 45px;
  }
  .edgtf-vertical-menu-area .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-in-table .edgtf-price {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 48.75%;
    margin-bottom: 45px;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
}

@media only screen and (min-width: 667px) and (max-width: 768px) {
  .edgtf-pricing-tables.edgtf-three-columns .edgtf-price-table {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-pricing-tables .edgtf-price-table {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .edgtf-pricing-tables .edgtf-price-table.edgtf-active {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tabs-nav {
    width: 21%;
  }
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tab-container {
    width: 79%;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-tabs .edgtf-tabs-nav,
  .edgtf-tabs .edgtf-tab-container,
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tabs-nav,
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tab-container {
    width: 100%;
  }
  .edgtf-tabs .edgtf-tabs-nav li,
  .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li {
    float: none;
    display: block;
  }
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tabs-nav {
    float: none;
    padding: 0;
  }
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tab-container {
    float: none;
    border-left: 0;
    padding: 9px 0;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-accordion-holder:not(.edgtf-boxed) div.edgtf-accordion-content {
    padding: 0;
  }
  .edgtf-accordion-holder:not(.edgtf-boxed) span.edgtf-tab-title {
    padding: 0 0 0 58px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-sizer,
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-item {
    width: 49%;
  }
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-gutter {
    width: 2%;
  }
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 667px) and (max-width: 1024px) {
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li,
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li:nth-child(2n),
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li:nth-child(2n+1),
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-sizer,
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-item {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-gutter {
    width: 0;
  }
  .edgtf-blog-list-holder.edgtf-image-in-box .edgtf-blog-list-item-inner {
    display: block;
  }
  .edgtf-blog-list-holder.edgtf-image-in-box .edgtf-item-text-holder {
    display: block;
    padding: 20px 0;
  }
  .edgtf-blog-list-holder.edgtf-image-in-box .edgtf-item-image {
    display: block;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li,
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-three-columns > ul > li,
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li {
    width: 100% !important;
    margin: 0 0 25px !important;
  }
}

/* ==========================================================================
# Image Gallery - begin
========================================================================== */
/* Image Gallery Grid - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-2 .edgtf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image {
    width: 50%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image {
    width: 50%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 25%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(4n+1) {
    clear: both;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 33.333%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(3n+1) {
    clear: both;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 50%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-2 .edgtf-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image {
    width: 32.2%;
    margin-right: 1.7%;
    margin-bottom: 1.7%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(2n+1) {
    clear: none;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(4n) {
    margin-right: 1.7%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 1.7%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 24%;
    margin-right: 1.33333%;
    margin-bottom: 1.33333%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(4n) {
    margin-right: 0;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(4n+1) {
    clear: both;
    margin-right: 1.33333%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 32.2%;
    margin-right: 1.7%;
    margin-bottom: 1.7%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 1.7%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid-with-space.edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

/* Image Gallery Grid - end
========================================================================== */
/* Image Gallery Slider - begin
========================================================================== */
/* Image Gallery Slider - end
========================================================================== */
/* Image Masonry Gallery - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-image-gallery-masonry .edgtf-image-masonry-grid-sizer,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-square,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-portrait {
    width: 50%;
  }
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-big-square,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-landscape {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery-masonry .edgtf-image-masonry-grid-sizer,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-square,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-portrait,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-big-square,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-landscape {
    width: 100%;
  }
}

/* Image Masonry Gallery - end
========================================================================== */
/* ==========================================================================
# Image Gallery - end
========================================================================== */
@media only screen and (min-width: 1000px) {
  .edgtf-slider-thumbs .carousel-control.left:hover .edgtf-thumb-holder {
    left: 0;
  }
  .carousel:not(.in_progress).edgtf-slider-thumbs .carousel-control.left:hover .edgtf-prev-nav {
    left: -200px;
  }
  .edgtf-slider-thumbs .carousel-control.right:hover .edgtf-thumb-holder {
    right: 0;
  }
  .carousel:not(.in_progress).edgtf-slider-thumbs .carousel-control.right:hover .edgtf-next-nav {
    right: -200px;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel .carousel-indicators.thumbnails {
    bottom: 40px;
  }
  .carousel .carousel-indicators.thumbnails li {
    width: 120px !important;
    height: 75px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-inner {
    position: relative;
  }
  .carousel-inner > .item,
  .edgtf-slider .carousel-control,
  .edgtf-slider-elements-container {
    padding-top: 0px !important;
  }
  .carousel-inner .item.edgtf-animate-image.zoom_center .edgtf-image,
  .carousel-inner .item.edgtf-animate-image.zoom_top_left .edgtf-image,
  .carousel-inner .item.edgtf-animate-image.zoom_top_right .edgtf-image,
  .carousel-inner .item.edgtf-animate-image.zoom_bottom_left .edgtf-image,
  .carousel-inner .item.edgtf-animate-image.zoom_bottom_right .edgtf-image {
    transform: none !important;
    -webkit-transform: none !important;
  }
  .carousel .carousel-indicators.thumbnails {
    bottom: 40px;
  }
  .carousel .carousel-indicators.thumbnails li {
    width: 100px !important;
    height: 63px !important;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel .carousel-indicators.thumbnails li {
    display: inline-block;
    width: 6px !important;
    height: 6px !important;
    /* must not be overwritten by options*/
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin: 0px 3px;
  }
  .carousel .carousel-indicators.dark.thumbnails li {
    border: 2px solid rgba(0, 0, 0, 0.4);
  }
  .carousel .carousel-indicators.thumbnails .active {
    background-color: #fff;
    border-color: #fff;
    margin: 0px 3px;
  }
  .carousel .carousel-indicators.dark.thumbnails .active {
    background-color: #000;
    border-color: #000;
  }
  .carousel .carousel-indicators.thumbnails li .thumb-frame,
  .carousel .carousel-indicators.thumbnails li img {
    display: none;
  }
}

@media only screen and (max-width: 667px) {
  .carousel-control {
    display: none;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder .edgtf-pi-holder-inner {
    padding: 0 25px;
  }
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder .edgtf-pi-number-holder .edgtf-pi-arrow {
    right: -40px;
    font-size: 25px;
  }
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-inner {
    margin: 0 -25px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-process-holder .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder {
    width: 33.33%;
    margin-bottom: 30px;
  }
  .edgtf-process-holder .edgtf-process-item-holder .edgtf-pi-arrow,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder .edgtf-pi-arrow {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-process-holder .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-three .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder {
    width: 50%;
  }
  .edgtf-process-holder .edgtf-process-item-holder .edgtf-pi-arrow,
  .edgtf-process-holder.edgtf-process-holder-items-three .edgtf-process-item-holder .edgtf-pi-arrow,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder .edgtf-pi-arrow {
    display: none;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-process-holder .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-three .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Shop masonry responsive start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .page-template-default .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer,
  .page-template-default .edgtf-shop-masonry .edgtf-shop-product {
    width: 50%;
  }
}

@media only screen and (max-width: 667px) {
  .page-template-default .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer,
  .page-template-default .edgtf-shop-masonry .edgtf-shop-product {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .page-template-default .edgtf-shop-masonry .edgtf-large-width-masonry-item,
  .page-template-default .edgtf-shop-masonry .edgtf-large-width-height-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 667px) {
  .page-template-default .edgtf-shop-masonry .edgtf-large-width-masonry-item,
  .page-template-default .edgtf-shop-masonry .edgtf-large-width-height-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .page-template-full-width .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer,
  .page-template-full-width .edgtf-shop-masonry .edgtf-shop-product {
    width: 50%;
  }
}

@media only screen and (max-width: 667px) {
  .page-template-full-width .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer,
  .page-template-full-width .edgtf-shop-masonry .edgtf-shop-product {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .page-template-full-width .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer,
  .page-template-full-width .edgtf-shop-masonry .edgtf-shop-product {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .page-template-full-width .edgtf-shop-masonry .edgtf-large-width-masonry-item,
  .page-template-full-width .edgtf-shop-masonry .edgtf-large-width-height-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 667px) {
  .page-template-full-width .edgtf-shop-masonry .edgtf-large-width-masonry-item,
  .page-template-full-width .edgtf-shop-masonry .edgtf-large-width-height-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .page-template-full-width .edgtf-shop-masonry .edgtf-large-width-masonry-item,
  .page-template-full-width .edgtf-shop-masonry .edgtf-large-width-height-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer .edgtf-onsale,
  .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer .edgtf-out-of-stock-button,
  .edgtf-shop-masonry .edgtf-shop-product .edgtf-onsale,
  .edgtf-shop-masonry .edgtf-shop-product .edgtf-out-of-stock-button {
    width: 79px;
    height: 79px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer .edgtf-onsale,
  .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer .edgtf-out-of-stock-button,
  .edgtf-shop-masonry .edgtf-shop-product .edgtf-onsale,
  .edgtf-shop-masonry .edgtf-shop-product .edgtf-out-of-stock-button {
    width: 59px;
    height: 59px;
    font-size: 12px;
  }
}

/* ==========================================================================
   End of Shop masonry responsive style
   ========================================================================== */
/* ==========================================================================
   Start of Vertical Split Slider Responsive
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  body.edgtf-vertical-split-screen-initialized {
    overflow-y: visible !important;
    height: auto !important;
  }
  .edgtf-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }
  .edgtf-vertical-split-slider-responsive {
    display: block;
  }
}

/* ==========================================================================
   End of Vertical Split Slider Responsive
   ========================================================================== */
/* ==========================================================================
   Boxed Icons shortcode start styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-boxed-icons.edgtf-bi-8-columns .edgtf-boxed-icon-holder {
    width: 25%;
    padding-top: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-boxed-icons.edgtf-bi-8-columns .edgtf-boxed-icon-holder {
    width: 50%;
    padding-top: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-boxed-icons.edgtf-bi-4-columns .edgtf-boxed-icon-holder {
    width: 50%;
    padding-top: 50%;
  }
}

/* ==========================================================================
   Boxed Icons shortcode end styles
   ========================================================================== */
/* ==========================================================================
   Item Showcase start styles
	========================================================================== */
@media only screen and (max-width: 1200px) {
  .edgtf-item-showcase .edgtf-item-image {
    margin-top: 0 !important;
  }
  .edgtf-item-showcase .edgtf-item:not(.edgtf-appeared) {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    transform: translateX(-40px);
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-left,
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-right {
    width: 30%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-item-showcase .edgtf-item-image {
    width: 100%;
    float: none;
  }
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-left,
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-right {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-left,
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-right {
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }
}

/* ==========================================================================
  Item Showcase end styles
  ========================================================================== */
@media only screen and (max-width: 1400px) {
  .edgtf-event-content .edgtf-event-date-holder {
    width: 15%;
  }
  .edgtf-event-content .edgtf-event-title-holder {
    width: 70%;
  }
  .edgtf-event-content .edgtf-event-buy-tickets-holder {
    width: 15%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-event-content .edgtf-event-date-holder {
    width: 20%;
  }
  .edgtf-event-content .edgtf-event-title-holder {
    width: 60%;
  }
  .edgtf-event-content .edgtf-event-buy-tickets-holder {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
  .edgtf-event-content .edgtf-event-buy-tickets-holder {
    width: 30%;
  }
  .edgtf-event-content .edgtf-event-title-holder {
    width: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-event-content .edgtf-event-date-holder {
    width: 100%;
    border-right: none;
    display: block;
    text-align: center;
  }
  .edgtf-event-content .edgtf-event-title-holder {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
  }
  .edgtf-event-content .edgtf-event-buy-tickets-holder {
    width: 100%;
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns .edgtf-album {
    width: 33.33%;
    padding: 1%;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns .edgtf-album:nth-child(3n+1) {
    clear: both;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns .edgtf-album:nth-child(4n+1) {
    clear: none;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns .edgtf-albums-list-holder {
    margin: 0 -12px;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns.edgtf-album-wide .edgtf-album {
    width: 33.33%;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns.edgtf-album-wide .edgtf-album:nth-child(3n+1) {
    clear: both;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns.edgtf-album-wide .edgtf-album:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-albums-list-holder-outer.edgtf-alb-three-columns .edgtf-album, .edgtf-albums-list-holder-outer.edgtf-alb-three-columns.edgtf-album-wide .edgtf-album {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    float: none;
    margin-bottom: 30px;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-three-columns .edgtf-album:nth-child(3n+1), .edgtf-albums-list-holder-outer.edgtf-alb-three-columns.edgtf-album-wide .edgtf-album:nth-child(3n+1) {
    clear: none;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-three-columns .edgtf-albums-list-holder, .edgtf-albums-list-holder-outer.edgtf-alb-three-columns.edgtf-album-wide .edgtf-albums-list-holder {
    margin: 0;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns .edgtf-album {
    width: 50%;
    padding: 1.27%;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns .edgtf-album:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns .edgtf-album:nth-child(3n+1) {
    clear: none;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns .edgtf-albums-list-holder {
    margin: 0 -16px;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns.edgtf-album-wide .edgtf-album {
    width: 50%;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns.edgtf-album-wide .edgtf-album:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-albums-list-holder-outer.edgtf-alb-four-columns.edgtf-album-wide .edgtf-album:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-albums-list-holder-outer .edgtf-album {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    float: none;
  }
  .edgtf-albums-list-holder-outer .edgtf-album:nth-child(2n+1) {
    clear: none;
  }
  .edgtf-albums-list-holder-outer .edgtf-albums-list-holder {
    margin: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-audio-player-holder .edgtf-audio-player-image-holder,
  .edgtf-audio-player-holder .edgtf-audio-player-current-time-holder,
  .edgtf-audio-player-holder .edgtf-audio-player-album {
    display: none !important;
  }
  .edgtf-audio-player-holder .edgtf-audio-player-time-holder {
    width: 20% !important;
    padding-left: 0 !important;
    text-align: center;
  }
  .edgtf-audio-player-holder .edgtf-audio-player-progress-holder {
    width: 80% !important;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-audio-player-wrapper .edgtf-grid-section .edgtf-section-inner {
    width: 100% !important;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-audio-player-holder .edgtf-audio-player-time-holder,
  .edgtf-audio-player-holder .edgtf-audio-player-volume-holder {
    display: none !important;
  }
  .edgtf-audio-player-holder .edgtf-audio-player-text-holder span:first-child {
    font-size: 15px !important;
  }
  .edgtf-audio-player-holder .edgtf-audio-player-info-holder {
    width: 17% !important;
  }
  .edgtf-audio-player-holder .edgtf-audio-player-text-holder {
    padding: 0 7px !important;
    text-align: center !important;
  }
}

/* ==========================================================================
# Clients responsive style - begin
========================================================================== */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .edgtf-clients .edgtf-client-holder .edgtf-client-holder-inner {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-clients.edgtf-clients-six-columns .edgtf-client-holder, .edgtf-clients.edgtf-clients-five-columns .edgtf-client-holder {
    width: 33.33333333333333%;
    margin: 15px 0;
  }
  .edgtf-clients.edgtf-clients-six-columns .edgtf-client-holder:nth-child(3n + 1), .edgtf-clients.edgtf-clients-five-columns .edgtf-client-holder:nth-child(3n + 1) {
    clear: both;
  }
  .edgtf-clients.edgtf-clients-four-columns .edgtf-client-holder {
    width: 50%;
    margin: 15px 0;
  }
  .edgtf-clients.edgtf-clients-four-columns .edgtf-client-holder:nth-child(2n + 1) {
    clear: both;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-clients.edgtf-clients-six-columns .edgtf-client-holder, .edgtf-clients.edgtf-clients-five-columns .edgtf-client-holder {
    width: 50%;
  }
  .edgtf-clients.edgtf-clients-six-columns .edgtf-client-holder:nth-child(3n + 1), .edgtf-clients.edgtf-clients-five-columns .edgtf-client-holder:nth-child(3n + 1) {
    clear: none;
  }
  .edgtf-clients.edgtf-clients-six-columns .edgtf-client-holder:nth-child(2n + 1), .edgtf-clients.edgtf-clients-five-columns .edgtf-client-holder:nth-child(2n + 1) {
    clear: both;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-clients.edgtf-clients-six-columns .edgtf-client-holder, .edgtf-clients.edgtf-clients-five-columns .edgtf-client-holder, .edgtf-clients.edgtf-clients-four-columns .edgtf-client-holder, .edgtf-clients.edgtf-clients-three-columns .edgtf-client-holder, .edgtf-clients.edgtf-clients-two-columns .edgtf-client-holder {
    width: 100%;
    float: none;
  }
}

/* ==========================================================================
# Clients responsive style - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-carousel.slick-slider .edgtf-slick-dots {
    display: none !important;
  }
}

/* ==========================================================================
   Album disc shortcode start responsive styles
   ========================================================================== */
@media only screen and (max-width: 667px) {
  .edgtf-album-disc > a,
  .edgtf-album-disc .edgtf-album-disc-inner {
    width: 100%;
  }
  .edgtf-album-disc.edgtf-animate-on-hover:hover .edgtf-album-disc-element {
    -webkit-transform: translate3d(12%, 0, 0);
    -moz-transform: translate3d(12%, 0, 0);
    transform: translate3d(12%, 0, 0);
  }
  .edgtf-album-disc.edgtf-animate-on-appear.edgtf-appeared .edgtf-album-disc-element {
    -webkit-transform: translate3d(12%, 0, 0);
    -moz-transform: translate3d(12%, 0, 0);
    transform: translate3d(12%, 0, 0);
  }
}

/* ==========================================================================
  Album disc shortcode end responsive styles
  ========================================================================== */
/* ==========================================================================
   Device Showcase shortcode start responsive styles
   ========================================================================== */
/* ==========================================================================
   Device Showcase shortcode end responsive styles
   ========================================================================== */
/* ==========================================================================
# Frame Carousel Responsive - begin
========================================================================== */
@media only screen and (min-width: 1200px) {
  .edgtf-frame-carousel .owl-controls {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-frame-carousel .edgtf-frame-carousel-carousel .owl-stage-outer {
    opacity: 0 !important;
  }
  .edgtf-frame-carousel .owl-carousel {
    z-index: 25;
  }
  .edgtf-frame-carousel .edgtf-frame-carousel-carousel {
    top: 0;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-frame-carousel .edgtf-frame-carousel-monitor-image-holder {
    padding: 21px 68px 54px;
  }
  .edgtf-frame-carousel .owl-controls .owl-nav {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-frame-carousel .edgtf-frame-carousel-monitor-image-holder {
    padding: 3.5% 11.7%;
  }
  .edgtf-frame-carousel .owl-controls .owl-nav {
    padding: 0 5px;
  }
  .edgtf-frame-carousel .owl-controls .edgtf-owl-prev .edgtf-top-part,
  .edgtf-frame-carousel .owl-controls .edgtf-owl-prev .edgtf-bottom-part,
  .edgtf-frame-carousel .owl-controls .edgtf-owl-next .edgtf-top-part,
  .edgtf-frame-carousel .owl-controls .edgtf-owl-next .edgtf-bottom-part {
    height: 20px;
  }
  .edgtf-frame-carousel .owl-controls .edgtf-bottom-part {
    top: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-frame-carousel .edgtf-frame-carousel-monitor-image-holder {
    padding: 3.3% 12.3%;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-frame-carousel .edgtf-frame-carousel-monitor-image-holder {
    padding: 3.3% 12.2%;
  }
}

/* ==========================================================================
# Frame Carousel Responsive - end
========================================================================== */
@media only screen and (max-width: 480px) {
  .edgtf-two-columns-form {
    display: block;
  }
  .edgtf-two-columns-form .edgtf-column-inner {
    display: block;
  }
  .edgtf-two-columns-form .edgtf-column-inner:last-child {
    padding-left: 0;
  }
  .edgtf-two-columns-form .edgtf-column-inner:not(:last-child) {
    display: block !important;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-instagram-feed.edgtf-col-9 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-instagram-feed.edgtf-col-4 li {
    width: 50%;
  }
  .edgtf-instagram-feed.edgtf-col-6 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-instagram-feed.edgtf-col-4 li,
  .edgtf-instagram-feed.edgtf-col-3 li,
  .edgtf-instagram-feed.edgtf-col-6 li,
  .edgtf-instagram-feed.edgtf-col-9 li {
    width: 100%;
  }
}

/*# sourceMappingURL=modules-responsive.css.map */