/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_design_styles function */
.edgtf-preload-background { background-image: url(https://teststore.tinmanmerchandising.com/wp-content/themes/rebellion/assets/img/preload_pattern.png) !important;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_design_styles function */
body { font-family: Comic Sans MS;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_design_styles function */
.edgtf-boxed .edgtf-wrapper { background-attachment: fixed;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_h1_styles function */
h1 { font-family: Arvo;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_h2_styles function */
h2 { font-family: Arvo;font-size: 26px;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_h3_styles function */
h3 { font-family: Arvo;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_h4_styles function */
h4 { font-family: Arvo;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_h5_styles function */
h5 { font-family: Arvo;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_h6_styles function */
h6 { font-family: Arvo;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles.php rebellion_edge_text_styles function */
p { font-family: Arvo;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/framework/modules/header/custom-styles/header.php rebellion_edge_header_full_screen_menu_area_styles function */
.edgtf-header-full-screen .edgtf-page-header .edgtf-menu-area { border-bottom: none;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/framework/modules/header/custom-styles/header.php rebellion_edge_sticky_header_styles function */
.edgtf-main-menu.edgtf-sticky-nav > ul > li > a { font-family: Arvo;}

            .edgtf-main-menu.edgtf-default-nav > ul > li > a,
            .edgtf-page-header #lang_sel > ul > li > a,
            .edgtf-page-header #lang_sel_click > ul > li > a,
            .edgtf-page-header #lang_sel ul > li:hover > a{
                                        font-family: 'Arvo', sans-serif;
                                                                                    }
        
                    .edgtf-page-header #lang_sel_list{
            font-family: 'Arvo', sans-serif !important;
            }
        
        
        
        
	            
        
        

        
        
        
        
        
        
        
        
        
                    .edgtf-drop-down .edgtf-menu-second .edgtf-menu-inner > ul > li:last-child > a,
            .edgtf-drop-down .edgtf-menu-second .edgtf-menu-inner > ul > li > ul > li:last-child > a,
            .edgtf-drop-down .edgtf-menu-second .edgtf-menu-inner > ul > li > ul > li > ul > li:last-child > a{
            border-bottom:1px solid transparent;
            }

                            .edgtf-drop-down .edgtf-menu-second .edgtf-menu-inner ul li,
            .header-widget.widget_nav_menu ul.menu li ul li{
	        border-bottom-width:1px;
	        border-bottom-style:solid;
                        }
        
        
        
        
        
        
        
        
        
                
                /* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/framework/modules/header/custom-styles/header.php rebellion_edge_header_divided_menu_area_styles function */
.edgtf-header-divided .edgtf-page-header .edgtf-menu-area .edgtf-grid .edgtf-vertical-align-containers { border: 0;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/framework/modules/header/custom-styles/header.php rebellion_edge_header_centered_logo_area_styles function */
.edgtf-header-centered .edgtf-page-header .edgtf-logo-area .edgtf-grid .edgtf-vertical-align-containers { border: 0;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/framework/modules/header/custom-styles/header.php rebellion_edge_header_centered_menu_area_styles function */
.edgtf-header-centered .edgtf-page-header .edgtf-menu-area .edgtf-grid .edgtf-vertical-align-containers { border: 0;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/framework/modules/header/custom-styles/mobile-header.php rebellion_edge_mobile_header_general_styles function */
.edgtf-mobile-header .edgtf-mobile-header-inner { background-color: #000000;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/framework/modules/header/custom-styles/mobile-header.php rebellion_edge_mobile_navigation_styles function */
.edgtf-mobile-header .edgtf-mobile-nav { background-color: #000000;}

/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/framework/modules/header/custom-styles/mobile-header.php rebellion_edge_mobile_navigation_styles function */
.edgtf-mobile-header .edgtf-mobile-nav a, .edgtf-mobile-header .edgtf-mobile-nav h4 { color: #ffffff;font-family: Georgia;}

