@media only screen and (max-width: 1024px){
	/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/framework/modules/header/custom-styles/header.php rebellion_edge_header_top_bar_responsive_styles function */
.edgtf-top-bar { height: 0;display: none;}

}

@media only screen and (min-width: 480px) and (max-width: 768px){
	/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles-responsive.php rebellion_edge_design_responsive_styles function */
.edgtf-section.edgtf-parallax-section-holder,.touch .edgtf-parallax-section-holder.edgtf-parallax-section-holder-touch-disabled { height: auto !important;min-height: 400px;}

}

@media only screen and (max-width: 480px){
	/* generated in /home/wpwcstore/wordpress/wp-content/themes/rebellion/assets/custom-styles/general-custom-styles-responsive.php rebellion_edge_design_responsive_styles function */
.edgtf-section.edgtf-parallax-section-holder,.touch .edgtf-parallax-section-holder.edgtf-parallax-section-holder-touch-disabled { height: auto !important;min-height: 400px;}

}