/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */
/* Woocommerce product list - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-result-count,
  .edgtf-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-result-count {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-ordering .orderby {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product {
    width: 49%;
    margin-right: 2%;
  }
  .woocommerce.columns-4 .products .product:nth-child(2n),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-4 .products .product:nth-child(2n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
    margin-bottom: 30px;
  }
  .woocommerce.columns-4 .products .product:nth-child(3n+1), .woocommerce.columns-4 .products .product:nth-child(4n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(3n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-4 .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product {
    width: 49%;
    margin-right: 2%;
  }
  .woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
    margin-bottom: 30px;
  }
  .woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1), .woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(4n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product {
    width: 49%;
    margin-right: 2%;
  }
  .woocommerce.columns-3 .products .product:nth-child(2n),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-3 .products .product:nth-child(2n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
    margin-bottom: 30px;
  }
  .woocommerce.columns-3 .products .product:nth-child(3n+1), .woocommerce.columns-3 .products .product:nth-child(4n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(3n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-3 .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 .edgtf-woocommerce-with-sidebar .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .edgtf-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

/* Woocommerce product list - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-single-product-images,
  .edgtf-single-product-summary {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page .edgtf-three-columns .edgtf-column {
    width: 33.33%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
  .variations_form .variations td {
    padding: 5px 6px;
  }
}

@media only screen and (max-width: 480px) {
  .variations_form .variations td {
    display: block;
    padding: 7px 0;
  }
}

@media only screen and (max-width: 667px) {
  .woocommerce-Reviews .avatar {
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .woocommerce-Reviews .comment-text {
    padding-left: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .single-product .edgtf-single-product-summary {
    width: 100%;
    padding-top: 30px;
  }
  .single-product .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li a {
    padding: 15px 21px;
  }
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
/*
.edgtf-woocommerce-page .edgtf-quantity-buttons {

	.edgtf-quantity-minus,
	.edgtf-quantity-plus,
	.edgtf-quantity-input {
		
		@include phone-landscape {
			width: 22px;
			height: 22px;
			line-height: 22px;
		}

	}

}
*/
/* Woocommerce quantity buttons - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
@media only screen and (max-width: 667px) {
  .edgtf-woocommerce-page table td {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page td.product-thumbnail img {
    display: none;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-woocommerce-page td.actions .coupon,
  .edgtf-woocommerce-page td.actions .edgtf-cart-proceed-update {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 667px) {
  .edgtf-woocommerce-page td.actions .edgtf-cart-proceed-update .checkout-button {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page .coupon input[type="text"] {
    width: 150px;
  }
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
@media only screen and (max-width: 667px) {
  .edgtf-woocommerce-page .edgtf-shipping-calculator {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
@media only screen and (max-width: 667px) {
  .edgtf-woocommerce-page .edgtf-cart-totals {
    width: 100%;
  }
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page .woocommerce-checkout .col-1,
  .edgtf-woocommerce-page .woocommerce-checkout .col-2 {
    width: 100%;
  }
}

/* Woocommerce checkout - end
========================================================================== */
/* Woocommerce Account - begin
========================================================================== */
@media only screen and (max-width: 667px) {
  .woocommerce-account .woocommerce-MyAccount-content,
  .woocommerce-account .woocommerce-MyAccount-navigation {
    float: none;
    width: 100%;
  }
  .woocommerce-account .woocommerce-MyAccount-content {
    margin-top: 40px;
  }
}

/* Woocommerce Account - end
========================================================================== */
/* Woocommerce dropdown cart - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-shopping-cart-outer:hover .edgtf-shopping-cart-dropdown {
    display: none;
    visibility: hidden;
  }
  .edgtf-top-bar .edgtf-shopping-cart-outer {
    float: none;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-shopping-cart-outer {
    display: none;
  }
}

/* Woocommerce dropdown cart - begin
========================================================================== */
@media only screen and (max-width: 1200px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 600px;
  }
}

@media only screen and (max-width: 667px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 95%;
  }
}

/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */
/*===========================================================
#Cart & Checkout page
=============================================================*/
@media only screen and (max-width: 320px) {
  .woocommerce-cart .shop_table td {
    padding: 3px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce-cart .shop_table th h4 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce-cart .shop_table th h4 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 667px) {
  .woocommerce-cart .shop_table th h4 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce-cart .shop_table th h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce-cart .shop_table td h6 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce-cart .shop_table td h6 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 667px) {
  .woocommerce-cart .shop_table td h6 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce-cart .shop_table td h6 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 667px) {
  .woocommerce-cart td.product-thumbnail img {
    display: none;
  }
}

.woocommerce-cart .product-thumbnail,
.woocommerce-cart .cart_item .product-thumbnail {
  width: 0;
  padding: 0;
}

@media only screen and (max-width: 667px) {
  .woocommerce-cart .edgtf-quantity-buttons .edgtf-quantity-input {
    width: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce-cart .amount {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce-cart .product-remove {
    padding: 5px 3px;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce-cart .remove {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce-cart.edgtf-woocommerce-page .coupon input[type="text"] {
    width: 200px;
    margin-bottom: 9px;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce-cart.edgtf-woocommerce-page td.actions .coupon,
  .woocommerce-cart.edgtf-woocommerce-page td.actions .edgtf-cart-proceed-update {
    width: 100% !important;
    text-align: right !important;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce-cart.edgtf-woocommerce-page td.actions .coupon {
    margin-bottom: 9px;
  }
}

/*# sourceMappingURL=woocommerce-responsive.css.map */