/* ==========================================================================
# Woocommerce style - begin
========================================================================== */
@font-face {
  font-family: 'star';
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot");
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("../../../../plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("../../../../plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("../../../../plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Woocommerce product list - begin
========================================================================== */
.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering,
.edgtf-woocommerce-page .woocommerce-result-count,
.edgtf-woocommerce-page .woocommerce-ordering {
  width: 50%;
  height: 52px;
  margin: 0 0 27px 0;
  display: inline;
  float: left;
}

.woocommerce .woocommerce-result-count,
.edgtf-woocommerce-page .woocommerce-result-count {
  line-height: 52px;
  font-weight: 500;
  color: #353535;
}

.woocommerce .edgtf-product-list-product-title,
.edgtf-woocommerce-page .edgtf-product-list-product-title {
  margin-top: 20px;
  display: inline-block;
  width: 59%;
  position: relative;
  float: left;
}

.woocommerce .full_width .woocommerce-result-count,
.edgtf-woocommerce-page .full_width .woocommerce-result-count {
  position: relative;
  left: 45px;
}

.woocommerce .full_width .woocommerce-ordering,
.edgtf-woocommerce-page .full_width .woocommerce-ordering {
  position: relative;
  right: 45px;
}

.woocommerce ins,
.woocommerce .price > .amount,
.edgtf-woocommerce-page ins,
.edgtf-woocommerce-page .price > .amount {
  text-decoration: none;
  color: #7d7d7d;
  font-size: 18px;
}

.woocommerce del,
.edgtf-woocommerce-page del {
  color: #858585;
  font-size: 18px;
}

.woocommerce .products,
.edgtf-woocommerce-page .products {
  list-style: none;
  margin: 0 0 26px;
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.woocommerce .products.up-sells h2,
.edgtf-woocommerce-page .products.up-sells h2 {
  text-align: center;
  padding: 50px 0;
}

.woocommerce .product,
.edgtf-woocommerce-page .product {
  position: relative;
  float: left;
  text-align: left;
  border-style: solid;
  border-color: #e1e2e5;
}

.woocommerce .product img:not(.avatar),
.edgtf-woocommerce-page .product img:not(.avatar) {
  display: block;
  width: 100%;
}

.woocommerce .product .price,
.edgtf-woocommerce-page .product .price {
  display: block;
  position: absolute;
  width: 41%;
  margin-top: 20px;
  right: 0;
  text-align: right;
}

.woocommerce .product .edgtf-product-badge,
.edgtf-woocommerce-page .product .edgtf-product-badge {
  position: absolute;
  display: table;
  top: 0;
  right: 0;
  height: 33px;
  line-height: 33px;
  text-align: center;
  z-index: 100;
  color: #fff;
  background-color: #ed5252;
  font-size: 12px;
}

.woocommerce .product .edgtf-product-badge.edgtf-onsale,
.edgtf-woocommerce-page .product .edgtf-product-badge.edgtf-onsale {
  width: 66px;
  text-transform: uppercase;
  font-weight: 600;
}

.woocommerce .product .edgtf-product-badge.edgtf-out-of-stock,
.edgtf-woocommerce-page .product .edgtf-product-badge.edgtf-out-of-stock {
  width: 110px;
  font-weight: 500;
}

.woocommerce .product .edgtf-product-badge-inner,
.edgtf-woocommerce-page .product .edgtf-product-badge-inner {
  display: table-cell;
  vertical-align: middle;
}

.woocommerce .edgtf-product-list-image-wrapper,
.edgtf-woocommerce-page .edgtf-product-list-image-wrapper {
  position: relative;
  overflow: hidden;
}

.woocommerce .edgtf-product-shader,
.edgtf-woocommerce-page .edgtf-product-shader {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.woocommerce .edgtf-out-of-stock-btn,
.woocommerce .add_to_cart_button,
.edgtf-woocommerce-page .edgtf-out-of-stock-btn,
.edgtf-woocommerce-page .add_to_cart_button {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: bottom 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity 0.15s ease-out;
  -moz-transition: bottom 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity 0.15s ease-out;
  transition: bottom 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity 0.15s ease-out;
}

.woocommerce .edgtf-out-of-stock-btn.added,
.woocommerce .add_to_cart_button.added,
.edgtf-woocommerce-page .edgtf-out-of-stock-btn.added,
.edgtf-woocommerce-page .add_to_cart_button.added {
  display: none;
}

.woocommerce li.product:hover .edgtf-product-shader,
.woocommerce li.product:hover .edgtf-out-of-stock-btn,
.woocommerce li.product:hover .add_to_cart_button,
.woocommerce li.product:hover .added_to_cart,
.edgtf-woocommerce-page li.product:hover .edgtf-product-shader,
.edgtf-woocommerce-page li.product:hover .edgtf-out-of-stock-btn,
.edgtf-woocommerce-page li.product:hover .add_to_cart_button,
.edgtf-woocommerce-page li.product:hover .added_to_cart {
  opacity: 1;
}

.woocommerce .added_to_cart,
.edgtf-woocommerce-page .added_to_cart {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 38px;
  line-height: 1.2em;
  z-index: 5;
  box-sizing: border-box;
  white-space: nowrap;
}

.woocommerce .woocommerce-message,
.edgtf-woocommerce-page .woocommerce-message {
  margin-bottom: 15px;
}

.woocommerce.columns-4 .products .product,
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product {
  width: calc(25% - 22.5px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-4 .products .product:nth-child(4n),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(4n) {
  margin-right: 0;
}

.woocommerce.columns-4 .products .product:nth-child(4n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(4n+1) {
  clear: both;
}

.woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product,
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product {
  width: calc(33.33% - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n) {
  margin: 0;
}

.woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: both;
}

.woocommerce.columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(4n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
  clear: none;
}

.woocommerce.columns-3 .products .product,
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product {
  width: calc(33.33% - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-3 .products .product:nth-child(3n),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(3n) {
  margin: 0;
}

.woocommerce.columns-3 .products .product:nth-child(3n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(3n+1) {
  clear: both;
}

.woocommerce.columns-3 .edgtf-woocommerce-with-sidebar .products .product,
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .edgtf-woocommerce-with-sidebar .products .product {
  width: calc(50% - 15px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.woocommerce.columns-3 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n) {
  margin-right: 0;
}

.woocommerce.columns-3 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
  clear: both;
}

.woocommerce.columns-3 .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: none;
}

/* Woocommerce product list - end
========================================================================== */
/* Woocommerce pagination - begin
========================================================================== */
.woocommerce-pagination {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: #4c4c4c;
  margin-top: 20px;
}

.woocommerce-pagination .edgtf-woocommerce-pagination-inner {
  width: 1300px;
  margin: 0 auto;
}

.woocommerce-pagination .page-numbers {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  text-shadow: none;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  box-sizing: content-box;
}

.woocommerce-pagination .page-numbers.prev {
  float: left;
}

.woocommerce-pagination .page-numbers.next {
  float: right;
}

.woocommerce-pagination .page-numbers.prev {
  text-align: left;
  font-size: 20px;
}

.woocommerce-pagination .page-numbers.next {
  text-align: right;
  font-size: 20px;
}

.woocommerce-pagination .page-numbers.current {
  color: #ed5252;
}

.woocommerce-pagination .page-numbers:hover, .woocommerce-pagination .page-numbers.current:hover {
  color: #ed5252;
}

@media only screen and (min-width: 1400px) {
  .edgtf-grid-1300 .woocommerce-pagination > .edgtf-woocommerce-pagination-inner {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .edgtf-grid-1200 .woocommerce-pagination > .edgtf-woocommerce-pagination-inner {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .edgtf-grid-1000 .woocommerce-pagination > .edgtf-woocommerce-pagination-inner {
    width: 1000px;
  }
}

@media only screen and (min-width: 1000px) {
  .edgtf-grid-800 .woocommerce-pagination > .edgtf-woocommerce-pagination-inner {
    width: 800px;
  }
}

/* Woocommerce pagination - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
.edgtf-single-product-related-products-holder {
  margin-top: 20px;
}

.edgtf-single-product-related-products-holder .products {
  margin-top: 50px;
}

.edgtf-single-product-related-products-holder .products.related > h2 {
  text-align: center;
}

.edgtf-single-product-related-products-holder .products ul {
  margin-top: 41px;
}

.edgtf-single-product-wrapper-top .out-of-stock {
  font-size: 18px;
  line-height: 1.5555555555555555555555555555556em;
  /* 33px/17px */
  font-weight: 600;
}

.edgtf-single-product-wrapper-top .edgtf-onsale {
  left: 0;
  right: auto;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav {
  text-align: center;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li {
  float: none;
  display: inline-block;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li a {
  border-bottom: 4px solid #d2d2d2;
  background: none;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li.ui-state-active a, .edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li.ui-state-hover a {
  border-bottom: 4px solid #ed5252;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li.ui-state-active h4, .edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li.ui-state-hover h4 {
  color: inherit;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .wc-tab > h2 {
  display: none;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .wc-tab h2 {
  font-size: 18px;
  line-height: 1.55em;
  margin-bottom: 37px;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tab-container {
  padding: 30px 50px;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tab-container:not(#tab-reviews) {
  text-align: center;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tab-container:not(#tab-reviews) p {
  margin: 0;
}

.edgtf-single-product-wrapper-top .woocommerce-review-link {
  font-size: 15px;
  color: #858585;
}

.edgtf-single-product-summary .price {
  position: relative;
  text-align: left;
}

.edgtf-single-product-summary ins,
.edgtf-single-product-summary .price > .amount {
  text-decoration: none;
  color: #353535;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 2px;
}

.edgtf-single-product-summary del {
  font-size: 40px;
  color: #b7b6b6;
}

.edgtf-single-product-images {
  width: 47%;
  margin-right: 4%;
  display: inline-block;
  float: left;
}

.edgtf-single-product-images a {
  display: inline-block;
  vertical-align: middle;
}

.edgtf-single-product-images .woocommerce-main-image {
  position: relative;
}

.edgtf-single-product-images img.edgtf-fake-featured-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.edgtf-single-product-images .images a:not(.woocommerce-main-image) {
  float: left;
  width: calc(25% - 15px);
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 66px;
}

.edgtf-single-product-images .images a:not(.woocommerce-main-image):nth-child(4n) {
  margin-right: 0;
}

.edgtf-single-product-images figure {
  margin: 0;
}

.single-product .edgtf-single-product-summary {
  width: 49%;
  display: inline-block;
  float: left;
}

.single-product .edgtf-single-product-summary .edgtf-single-product-title {
  margin-bottom: 7px;
  line-height: 1em;
}

.single-product .edgtf-single-product-summary .price {
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 31px;
}

.single-product .edgtf-single-product-summary .cart,
.single-product .edgtf-single-product-summary .out-of-stock {
  margin-top: 45px;
  padding-bottom: 53px;
  border-bottom: 2px dotted #d2d2d2;
}

.single-product .edgtf-single-product-summary .product_meta {
  margin-top: 31px;
  padding-bottom: 31px;
}

.single-product .edgtf-single-product-summary .product_meta > span {
  line-height: 1.1em;
  font-size: 20px;
  letter-spacing: -0.5px;
  display: block;
}

.single-product .edgtf-single-product-summary .product_meta > span span:first-child {
  color: #353535;
  width: 15%;
  opacity: 0.9;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
}

.single-product .edgtf-single-product-summary .product_meta > span .sku {
  padding-left: 7px;
}

.single-product .edgtf-single-product-summary .product_meta > span span,
.single-product .edgtf-single-product-summary .product_meta > span a {
  color: #858585;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
}

.single-product .edgtf-single-product-summary .product_meta > span a:hover {
  color: #ed5252;
}

.single-product .edgtf-single-product-summary .edgtf-social-share-holder {
  padding: 25px 0;
  border-top: 2px dotted #d2d2d2;
}

.single-product .edgtf-single-product-summary .edgtf-social-share-holder .edgtf-social-share-title {
  opacity: 0.9;
  display: inline-block;
  width: 15%;
  margin-right: 0;
}

.edgtf-woocommerce-page .edgtf-tabs {
  clear: both;
  border-bottom: 2px dotted #d2d2d2;
  padding-bottom: 15px;
  padding-top: 54px;
}

.edgtf-woocommerce-page .edgtf-product-single-navigation .edgtf-column {
  min-height: 1px;
}

.edgtf-woocommerce-page .edgtf-product-single-navigation a {
  color: #989898;
}

.edgtf-woocommerce-page .edgtf-product-single-back-to-btn {
  text-align: center;
}

.edgtf-woocommerce-page .edgtf-product-single-next {
  text-align: right;
}

.edgtf-woocommerce-page .edgtf-product-single-prev {
  text-align: left;
}

.edgtf-woocommerce-page .edgtf-product-single-prev a,
.edgtf-woocommerce-page .edgtf-product-single-next a,
.edgtf-woocommerce-page .edgtf-product-single-back-to-btn a {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #fff;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.edgtf-woocommerce-page .edgtf-product-single-prev a:hover,
.edgtf-woocommerce-page .edgtf-product-single-next a:hover,
.edgtf-woocommerce-page .edgtf-product-single-back-to-btn a:hover {
  color: #ed5252;
}

.edgtf-woocommerce-page .edgtf-container.edgtf-container-bottom-navigation {
  background: #4c4c4c;
  padding: 24px 0;
}

/*Variable Products*/
.variations_form .variations {
  width: auto;
  margin-bottom: 34px;
}

.variations_form .variations tr {
  border: none;
}

.variations_form .variations td {
  text-align: left;
  padding: 5px 16px;
}

.variations_form .variations td.label {
  padding-left: 0;
  color: #000;
  font-weight: 700;
  line-height: 1.4em;
}

.variations_form .variations select {
  height: 50px;
  padding: 0 20px 0 15px;
  border: 1px solid #e5e5e5;
  line-height: 50px;
  color: #757575;
  border-radius: 0;
  background-image: none;
}

.variations_form .variations .reset_variations {
  padding-left: 12px;
}

.variations_button {
  display: inline-block;
  vertical-align: top;
}

/*Group Product*/
.summary .group_table {
  margin-bottom: 35px;
}

.summary .group_table tbody td {
  text-align: left;
  padding: 5px 20px 5px 0;
}

.summary .group_table tbody tr {
  border: none;
}

.summary .group_table tbody tr.product {
  clear: both;
}

.summary .group_table tbody tr.product.outofstock .price span {
  display: none;
}

.summary .group_table tbody tr.product.outofstock .price .out-of-stock {
  display: inline;
  margin-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.summary .group_table tbody td.price {
  display: table-cell;
  width: auto;
}

.summary .group_table tbody td.price .amount {
  font-size: 30px;
}

.summary .group_table td.label a {
  color: #313131;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
.edgtf-woocommerce-page .edgtf-quantity-buttons {
  display: inline-block;
  position: relative;
  margin-right: calc(27.5px + 19px);
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-minus,
.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-plus {
  width: 27.5px;
  height: 27.5px;
  display: inline-block;
  background-color: #ebebeb;
  color: #353535;
  font-size: 16px;
  line-height: 27.5px;
  text-align: center;
  cursor: pointer;
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-minus:hover,
.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-plus:hover {
  background-color: #ed5252;
  color: #fff;
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-minus {
  margin-top: 0.5px;
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-input {
  height: 56px;
  width: 56px;
  display: inline-block;
  padding: 0;
  border: none;
  background-color: #ebebeb;
  text-align: center;
  color: #353535;
  font-size: 20px;
  line-height: 56px;
  font-weight: 400;
  margin-right: 1px;
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-controls {
  position: absolute;
  left: 100%;
  top: 0;
  line-height: 0;
}

.edgtf-btn.single_add_to_cart_button {
  border-radius: 0;
  vertical-align: top;
}

/* Woocommerce quantity buttons - end
	========================================================================== */
/* Woocommerce message - begin
========================================================================== */
.edgtf-woocommerce-page .woocommerce-message,
.edgtf-woocommerce-page .woocommerce-info,
.edgtf-woocommerce-page .woocommerce-error {
  margin-bottom: 25px;
  position: relative;
  display: block;
  padding: 8px 40px;
  background-color: #fcfcfc;
  line-height: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #d2d2d2;
}

.edgtf-woocommerce-page .woocommerce-message a {
  float: right;
}

/* Woocommerce message - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
.edgtf-woocommerce-page table.cart tr:last-child {
  border: none;
}

.edgtf-woocommerce-page table td {
  vertical-align: middle;
}

.edgtf-woocommerce-page td.product-thumbnail img {
  width: 85px;
  vertical-align: middle;
}

.edgtf-woocommerce-page td.actions {
  padding: 30px 0;
}

.edgtf-woocommerce-page td.actions .coupon,
.edgtf-woocommerce-page td.actions .edgtf-cart-proceed-update {
  float: left;
  width: 50%;
  display: inline-block;
  text-align: left;
  font-size: 0;
}

.edgtf-woocommerce-page td.actions .edgtf-cart-proceed-update {
  text-align: right;
}

.edgtf-woocommerce-page .coupon label {
  display: none;
}

.edgtf-woocommerce-page .coupon input[type="text"] {
  width: 300px;
  padding: 13px 17px;
  vertical-align: top;
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
.edgtf-woocommerce-page .edgtf-shipping-calculator {
  width: 100%;
  display: inline-block;
}

.edgtf-woocommerce-page .edgtf-shipping-calculator .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.edgtf-woocommerce-page .edgtf-shipping-calculator .form-row-last {
  margin-right: 0;
}

.edgtf-woocommerce-page .edgtf-shipping-calculator .form-row-wide {
  width: 100%;
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
.edgtf-woocommerce-page .edgtf-cart-totals {
  width: 100%;
  display: inline-block;
  margin-bottom: 60px;
}

.edgtf-woocommerce-page .edgtf-cart-totals .wc-proceed-to-checkout {
  margin-top: 30px;
}

.edgtf-woocommerce-page .edgtf-cart-totals table tr {
  padding: 18px 7px;
  background-color: #fcfcfc;
}

.edgtf-woocommerce-page .edgtf-cart-totals table th {
  border: none;
  padding: 18px 7px;
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
.edgtf-woocommerce-page .woocommerce-checkout .col2-set:before,
.edgtf-woocommerce-page .woocommerce-checkout .col2-set:after {
  content: '';
  display: table;
}

.edgtf-woocommerce-page .woocommerce-checkout .col2-set:after {
  clear: both;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 {
  width: 49%;
  margin-right: 1%;
  display: inline-block;
  float: left;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 h3,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 h3 {
  margin-bottom: 28px;
  margin-top: 40px;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row-last,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row-last {
  margin-right: 0;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row-wide,
.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row.notes,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row-wide,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row.notes {
  width: 100%;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row label,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row label {
  display: none;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-2 {
  margin-left: 1%;
  margin-right: 0;
}

.edgtf-woocommerce-page .woocommerce-checkout-payment {
  margin-top: 70px;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  float: left;
  width: 25%;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style-type: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link a {
  display: inline-block;
  vertical-align: top;
  min-width: 140px;
  color: #a1a1a1;
  font-weight: 600;
  margin-right: 0;
  margin-bottom: 1px;
  padding: 12px 8px;
  border-bottom: 2px solid #ebebeb;
}

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link.is-active a,
.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link:hover a {
  color: #313131;
  background-color: transparent;
  border-bottom-color: #ed5252;
}

.woocommerce-account .woocommerce-MyAccount-content {
  float: right;
  width: 70%;
  padding-top: 26px;
}

.woocommerce-account .edgtf-my-account-login h2 {
  margin-bottom: 13px;
}

.woocommerce-account input[type=submit],
.woocommerce-checkout input[type=submit] {
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-family: inherit;
  padding: 17px 38px;
  font-size: 15px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #353535;
  color: #353535;
  background-color: transparent;
}

.woocommerce-account input[type=submit]:hover,
.woocommerce-checkout input[type=submit]:hover {
  border-color: #ed5252;
  background-color: #ed5252;
  color: #fff;
}

/* Woocommerce checkout - end
========================================================================== */
.edgtf-woocommerce-page input[type="text"],
.edgtf-woocommerce-page input[type="email"],
.edgtf-woocommerce-page input[type="tel"],
.edgtf-woocommerce-page input[type="password"],
.edgtf-woocommerce-page textarea {
  width: 100%;
  padding: 10px 17px;
  outline: 0;
  resize: none;
  font-family: inherit;
  line-height: 28px;
  background-color: #fcfcfc;
  color: #858585;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  font-size: 14px;
}

/* Dropdown Shopping Cart */
.edgtf-shopping-cart-outer {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-inner {
  display: table;
  vertical-align: middle;
  height: 100%;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-header {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-header .edgtf-header-cart {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 0;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-header .edgtf-header-cart i {
  color: #000;
  font-size: 22px;
  -webkit-transition: inital;
  -moz-transition: inital;
  transition: inital;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-header .edgtf-cart-label {
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
  margin: 0 0 0 5px;
}

.edgtf-shopping-cart-outer .edgtf-cart-amount {
  position: absolute;
  width: 13px;
  top: 10px;
  left: 5px;
  font-size: 11px;
  line-height: 11px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.edgtf-shopping-cart-dropdown {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 18px 30px;
  box-sizing: border-box;
  left: auto;
  position: absolute;
  right: -1px;
  top: 100%;
  z-index: 1000;
  width: 275px;
  visibility: hidden;
  text-align: left;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out 0.2s;
  -moz-transition: opacity 0.2s ease-out 0.2s;
  transition: opacity 0.2s ease-out 0.2s;
}

.edgtf-shopping-cart-dropdown ul {
  margin: 0;
}

.edgtf-shopping-cart-dropdown ul li {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding: 13px 0px;
  box-sizing: border-box;
}

.edgtf-shopping-cart-dropdown ul li a {
  display: block;
}

.edgtf-shopping-cart-dropdown ul li a:hover {
  color: #ed5252;
}

.edgtf-shopping-cart-dropdown ul li .edgtf-item-image-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  width: 63px;
}

.edgtf-shopping-cart-dropdown ul li .edgtf-item-image-holder img {
  vertical-align: middle;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  vertical-align: top;
  padding-left: 15px;
  text-align: left;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder .edgtf-item-left {
  float: left;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder .edgtf-item-left a {
  line-height: 1em;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder .edgtf-item-left span {
  font-size: 14px;
  line-height: 1em;
  color: #fff;
  font-weight: 400;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder .edgtf-item-left:hover a {
  color: #ed5252;
}

.edgtf-shopping-cart-dropdown .edgtf-empty-cart {
  border: none;
  padding: 15px;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-list a > img {
  display: block;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom {
  padding: 8px 0 10px;
  border-top: 2px dotted #5a5a5a;
  margin-top: 7px;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .checkout,
.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .view-cart {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  background: transparent;
  -webkit-transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .checkout:hover,
.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .view-cart:hover {
  color: #ed5252;
  -webkit-transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .view-cart {
  float: left;
  padding-left: 0;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .checkout {
  float: right;
  padding-right: 0;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .edgtf-subtotal-holder {
  margin: 9px 0;
  color: #bebebe;
  text-align: center;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .edgtf-subtotal-holder .edgtf-total {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.edgtf-shopping-cart-outer:hover .edgtf-shopping-cart-dropdown {
  opacity: 1;
  visibility: visible;
}

.edgtf-top-bar .edgtf-shopping-cart-outer {
  float: left;
  position: relative;
  height: 40px;
  line-height: 40px;
}

.edgtf-top-bar .edgtf-shopping-cart-outer .edgtf-shopping-cart-inner {
  display: block;
  height: 100%;
}

.edgtf-top-bar .edgtf-shopping-cart-outer .edgtf-shopping-cart-header {
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header) .edgtf-shopping-cart-header .edgtf-header-cart > i,
  .edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header) .edgtf-shopping-cart-header .edgtf-header-cart > span:not(.edgtf-cart-amount),
  .edgtf-header-style-on-scroll.edgtf-dark-header .edgtf-page-header > div .edgtf-shopping-cart-header .edgtf-header-cart > i,
  .edgtf-header-style-on-scroll.edgtf-dark-header .edgtf-page-header > div .edgtf-shopping-cart-header .edgtf-header-cart > span:not(.edgtf-cart-amount) {
    color: #000000;
  }
  .edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header) .edgtf-shopping-cart-header .edgtf-header-cart > i,
  .edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header) .edgtf-shopping-cart-header .edgtf-header-cart > span,
  .edgtf-header-style-on-scroll.edgtf-light-header .edgtf-page-header > div .edgtf-shopping-cart-header .edgtf-header-cart > i,
  .edgtf-header-style-on-scroll.edgtf-light-header .edgtf-page-header > div .edgtf-shopping-cart-header .edgtf-header-cart > span:not(.edgtf-cart-amount) {
    color: #ffffff;
  }
}

.edgtf-vertical-align-containers .edgtf-shopping-cart-header {
  padding-right: 13px;
}

.edgtf-vertical-align-containers .edgtf-shopping-cart-header i {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.edgtf-vertical-menu-area .edgtf-shopping-cart-dropdown {
  right: auto;
}

/* ==========================================================================
# Woocommerce style - end
========================================================================== */
/* ==========================================================================
# Select 2 - begin
========================================================================== */
/*
Version: 3.5.4 Timestamp: Sun Aug 30 13:30:32 EDT 2015
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
	  Force border-box so that % widths fit the parent
	  container without overlap because of margin/padding.
	  More Info : http://www.quirksmode.org/css/box.html
	*/
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}

html[dir="rtl"] .select2-container .select2-choice {
  padding: 0 8px 0 0;
}

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(to bottom, #eee 0%, #fff 90%);
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
  margin-left: 26px;
  margin-right: 0;
}

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

/*.select2-container .select2-choice .select2-arrow {
	display: inline-block;
	width: 18px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

	border-left: 1px solid #aaa;
	border-radius: 0 4px 4px 0;

	background-clip: padding-box;

	background: #ccc;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
	background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
	background-image: linear-gradient(to top, #ccc 0%, #eee 60%);
}*/
html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
  left: 0;
  right: auto;
  border-left: none;
  border-right: 1px solid #aaa;
  border-radius: 4px 0 0 4px;
}

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {
  background-position: 2px 1px;
}

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding: 4px 4px 0 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html[dir="rtl"] .select2-search input {
  padding: 4px 5px 4px 20px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to top, #fff 0%, #eee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
  border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -16px 1px;
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-tap-highlight-color: transparent;
}

html[dir="rtl"] .select2-results {
  padding: 0 4px 0 0;
  margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results-dept-1 .select2-result-label {
  padding-left: 20px;
}

.select2-results-dept-2 .select2-result-label {
  padding-left: 40px;
}

.select2-results-dept-3 .select2-result-label {
  padding-left: 60px;
}

.select2-results-dept-4 .select2-result-label {
  padding-left: 80px;
}

.select2-results-dept-5 .select2-result-label {
  padding-left: 100px;
}

.select2-results-dept-6 .select2-result-label {
  padding-left: 110px;
}

.select2-results-dept-7 .select2-result-label {
  padding-left: 120px;
}

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%;
}

.select2-results .select2-ajax-error {
  background: rgba(255, 50, 50, 0.2);
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

html[dir="rtl"] .select2-container-multi .select2-choices {
  padding: 0 0 0 5px;
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
  min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

html[dir="rtl"] .select2-container-multi .select2-choices li {
  float: right;
}

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 18px 3px 5px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
}

html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 3px;
}

.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
  left: auto;
  right: 2px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}

/* Woocommerce Select2 override - begin
========================================================================== */
.edgtf-woocommerce-page .select2.select2-container .select2-selection__arrow {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  line-height: inherit;
  text-align: center;
}

.edgtf-woocommerce-page .select2.select2-container .select2-selection__arrow b {
  display: none;
}

.edgtf-woocommerce-page .select2.select2-container .select2-selection__arrow:before {
  font-family: 'ElegantIcons';
  content: "\33";
  font-size: 17px;
}

.edgtf-woocommerce-page .select2-container-active .select2-choice,
.edgtf-woocommerce-page .select2-container-active .select2-choices {
  border: 1px solid #e9e9e9;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edgtf-woocommerce-page .select2-drop-active {
  border: 1px solid #e9e9e9;
}

.edgtf-woocommerce-page .select2-drop {
  background-color: #fcfcfc;
  color: #7f8385;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edgtf-woocommerce-page .woocommerce-ordering {
  width: 210px;
  height: 52px;
  margin: 0 0 27px;
  display: inline;
  float: right;
}

.edgtf-woocommerce-page .edgtf-shipping-calculator .country_to_state {
  width: 100%;
}

.edgtf-woocommerce-page .select2-search input {
  background-image: none;
  position: relative;
}

.edgtf-woocommerce-page .select2-results {
  background-color: #fcfcfc;
}

/*
	Version: 4.0.3 Timestamp: Monday Mart 27 2:59:00pm EDT 2017
*/
.select2-container--default {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 0;
  border-radius: 0;
  text-align: initial;
  box-sizing: border-box;
  width: 100% !important;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding: 0 20px 0 30px;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 20px;
  right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
  padding: 0 20px 0 30px;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin: 7px auto 0 5px;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin: 0 auto 0 3px;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single {
  color: #858585;
}

.select2-container--default.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--above {
  border-bottom-color: transparent;
}

.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below {
  border-top-color: transparent;
}

.edgtf-woocommerce-page .cart-collaterals .woocommerce-shipping-calculator .select2-container--default {
  width: 100% !important;
  margin: 0 0 14px;
}

.select2-container--default .select2-selection--single {
  display: block;
  height: 52px;
  line-height: 50px;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  display: block;
  padding: 0 30px 0 20px;
  color: inherit;
  line-height: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  position: relative;
  cursor: pointer;
  float: right;
  margin: 0;
  font-weight: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  right: 20px;
  color: inherit;
  line-height: inherit;
  text-align: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  font-family: 'FontAwesome';
  content: '\f107';
}

.select2-container--default .select2-selection--multiple {
  display: block;
  height: 44px;
  line-height: 42px;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  display: block;
  list-style: none;
  padding: 0 30px 0 20px;
  margin: 0;
  color: inherit;
  line-height: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__placeholder {
  float: left;
  margin: 0;
  color: inherit;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__clear {
  position: relative;
  cursor: pointer;
  float: right;
  margin: 0;
  font-weight: inherit;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  float: left;
  margin: 7px 5px 0 0;
  padding: 0 10px;
  line-height: 30px;
  color: #fff;
  background-color: #858585;
  border: 0;
  border-radius: 0;
  cursor: default;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice__remove {
  display: inline-block;
  margin: 0 3px 0 0;
  color: inherit;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice__remove:hover {
  color: inherit;
  opacity: 0.8;
}

.select2-container--default .select2-search--inline {
  float: left;
}

.select2-container--default .select2-search--inline .select2-search__field {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

.select2-container--default .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-container--default .select2-dropdown {
  position: absolute;
  top: 0;
  left: -100000px;
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 0;
  z-index: 1051;
  box-sizing: border-box;
}

.select2-container--default .select2-search--dropdown {
  display: none;
}

.select2-container--default .select2-results {
  display: block;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__options {
  position: relative;
  padding: 2px 15px;
  margin: 5px 0;
  list-style: none;
}

.select2-container--default .select2-results__option {
  padding: 7px 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.select2-container--default .select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #858585;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  color: #858585;
  background: none;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #ed5252;
  background: none;
}

.select2-container--default .select2-results__group {
  display: block;
  padding: 7px 0;
  cursor: default;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/* Woocommerce Select2 override - end
========================================================================== */
/* ==========================================================================
# Select 2 - end
========================================================================== */
/*===========================================================
# Woocommerce star-rating
==============================================================*/
.star-rating {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1.1em;
  line-height: 1em;
  font-size: 0.8em;
  width: 5.2em;
  font-family: 'star';
  color: #ed5252;
  vertical-align: middle;
}

.star-rating:before {
  content: "\53\53\53\53\53";
  color: #353535;
  position: absolute;
  top: 0;
  left: 0;
}

.star-rating span {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1.5em;
}

.star-rating span:before {
  content: "\53\53\53\53\53";
  position: absolute;
  top: 0;
  left: 0;
}

.stars {
  height: 16px;
}

.comment-form-rating .stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: url(img/star.png) repeat-x left 0;
}

.comment-form-rating .stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}

.comment-form-rating .stars span a.star-1 {
  width: 16px;
  z-index: 10;
}

.comment-form-rating .stars span a.star-2 {
  width: 32px;
  z-index: 9;
}

.comment-form-rating .stars span a.star-3 {
  width: 48px;
  z-index: 8;
}

.comment-form-rating .stars span a.star-4 {
  width: 64px;
  z-index: 7;
}

.comment-form-rating .stars span a.star-5 {
  width: 80px;
  z-index: 6;
}

.comment-form-rating .stars span a:hover,
.comment-form-rating .stars span a:focus,
.comment-form-rating .stars span a.active {
  background: url(img/star.png) repeat-x left -16px;
}

/*===========================================================
# Woocommerce star-rating - end
==============================================================*/
/*===========================================================
#Woocommmerce review form -start
=============================================================*/
.commentlist {
  list-style: none;
}

.comment_container {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 40px;
  border-bottom: 2px dotted #d2d2d2;
}

.woocommerce-Reviews-title {
  display: none;
}

.edgtf-rating-wrapper {
  position: absolute;
  right: 0;
}

.edgtf-product-comment-meta {
  display: inline-block;
  vertical-align: top;
}

.edgtf-product-comment-meta {
  margin-bottom: 10px;
}

.woocommerce-Reviews .comment-text {
  padding-left: 107px;
  margin-bottom: 8px;
}

.woocommerce-Reviews .comment-text .star-rating {
  position: absolute;
  top: 0;
  right: 0;
}

.edgtf-product-comment-date {
  color: #9c9c9c;
}

.edgtf-product-comment-author {
  font-size: 20px;
  line-height: 1.45em;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #353535;
  display: block;
}

.woocommerce-Reviews .avatar {
  float: left;
  padding-right: 24px;
}

#reply-title {
  font-size: 50px;
  line-height: 1.04em;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 70px;
  font-weight: 900;
  text-transform: uppercase;
  color: #353535;
  display: block;
}

.comment-form-rating {
  text-align: center;
  margin-bottom: 50px;
}

.comment-form-rating label {
  color: #353535;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.comment-form-rating .stars {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.woocommerce-product-rating {
  margin-bottom: 17px;
}

/*===========================================================
#Woocommmerce review form -end
=============================================================*/
/*===========================================================
#Cart & Checkout page
=============================================================*/
.wc-proceed-to-checkout {
  text-align: right;
}

.woocommerce-cart .edgtf-quantity-buttons {
  left: 7.5px;
}

.woocommerce-cart .product-thumbnail {
  width: 14%;
}

.woocommerce-cart .product-name {
  width: 16%;
  text-align: left;
}

.woocommerce-cart .product-price {
  width: 21%;
}

.woocommerce-cart .product-quantity {
  width: 18%;
}

.woocommerce-cart .product-subtotal {
  width: 26%;
}

.woocommerce-cart .product-remove {
  width: 5%;
}

.woocommerce-cart .remove {
  font-size: 21px;
  color: #959595;
}

.woocommerce-cart .shop_table thead {
  border: 1px solid #d2d2d2;
  background-color: #fcfcfc;
}

.woocommerce-cart .cart_item {
  background-color: #fcfcfc;
}

.woocommerce-cart .cart_item .product-thumbnail {
  padding: 18px;
  text-align: left;
}

.woocommerce-cart .coupon input[type=submit].edgtf-btn {
  margin-left: 25px;
}

.woocommerce-checkout .shop_table th,
.woocommerce-checkout .shop_table td {
  text-align: left;
  padding: 15px 7px 15px 30px;
}

.woocommerce-checkout .shop_table tfoot {
  background-color: #fcfcfc;
  border: 1px solid #d2d2d2;
}

.woocommerce-checkout .shop_table tfoot th {
  font-size: 18px;
  font-weight: 600;
}

.woocommerce-checkout .shop_table .amount {
  font-size: 18px;
  font-weight: 500;
}

.woocommerce-checkout .shop_table .order-total th,
.woocommerce-checkout .shop_table .product-name,
.woocommerce-checkout .shop_table thead .product-total {
  font-weight: 600;
  color: #353535;
}

.woocommerce-checkout .shop_table thead .product-name,
.woocommerce-checkout .shop_table thead .product-total {
  font-size: 18px;
}

.woocommerce-checkout #order_review_heading {
  margin-bottom: 30px;
  margin-top: 48px;
}

.wc_payment_methods,
#shipping_method {
  list-style: none;
}

.wc_payment_methods img {
  display: block;
}

/*==========================================================
#Widgets start
=============================================================*/
.woocommerce.widget {
  margin-bottom: 29px;
}

.woocommerce.widget:last-child {
  margin-bottom: 0;
}

.woocommerce.widget:not(.widget_layered_nav) ul:not(.product-categories) li {
  padding-left: 0;
}

.woocommerce.widget:not(.widget_layered_nav) ul:not(.product-categories) li:before {
  display: none;
}

.woocommerce.widget .quantity {
  font-size: 21px;
}

.woocommerce.widget .total {
  margin: 10px 0 10px;
}

.woocommerce.widget .buttons:after, .woocommerce.widget .buttons:before {
  content: '';
  display: table;
}

.woocommerce.widget .buttons:after {
  clear: both;
}

.woocommerce.widget .buttons .wc-forward {
  text-transform: uppercase;
  font-weight: 500;
}

.woocommerce.widget .buttons .wc-forward:first-child {
  float: left;
}

.woocommerce.widget .buttons .wc-forward:last-child {
  float: right;
}

.woocommerce.widget button {
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-family: inherit;
  font-size: 12px;
  padding: 15px 30px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #353535;
  color: #353535;
  cursor: pointer;
}

.woocommerce.widget button:hover {
  background-color: #ed5252;
  border-color: #ed5252;
  color: #fff;
}

.woocommerce.widget .edgtf-product-search {
  font-size: 0;
  position: relative;
  line-height: normal;
  padding-right: 25px;
}

.woocommerce.widget .edgtf-product-search input[type=submit],
.woocommerce.widget .edgtf-product-search input[type=search] {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.woocommerce.widget input[type=search] {
  width: 100%;
  outline: none;
  border-bottom: 2px solid #d2d2d2 !important;
  line-height: 28px;
  height: 42px;
  box-sizing: border-box;
  padding: 0 7px;
  font-size: 15px;
  font-weight: 200;
  color: #c3c3c3;
  font-family: inherit;
  -webkit-transition: border-color 0.15s ease;
  -moz-transition: border-color 0.15s ease;
  transition: border-color 0.15s ease;
}

.woocommerce.widget input[type=search]::-webkit-input-placeholder {
  color: #bfbcbc;
}

.woocommerce.widget input[type=search]:-moz-placeholder {
  color: #bfbcbc;
  opacity: 1;
}

.woocommerce.widget input[type=search]::-moz-placeholder {
  color: #bfbcbc;
  opacity: 1;
}

.woocommerce.widget input[type=search]:-ms-input-placeholder {
  color: #bfbcbc;
}

.woocommerce.widget input[type=search]:focus {
  border-bottom-color: #ed5252 !important;
}

.woocommerce.widget input[type=submit].edgtf-product-search-form {
  font-family: 'FontAwesome' !important;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 42px;
  line-height: 58px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  color: #9a9a9a;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

.woocommerce.widget input[type=submit].edgtf-product-search-form:hover {
  color: #ed5252;
}

.widget_recent_reviews li,
.product_list_widget li,
.widget_shopping_cart li {
  margin-bottom: 28px;
}

.widget_recent_reviews li:before, .widget_recent_reviews li:after,
.product_list_widget li:before,
.product_list_widget li:after,
.widget_shopping_cart li:before,
.widget_shopping_cart li:after {
  content: " ";
  display: table;
}

.widget_recent_reviews li:after,
.product_list_widget li:after,
.widget_shopping_cart li:after {
  clear: both;
}

.widget_recent_reviews li img,
.product_list_widget li img,
.widget_shopping_cart li img {
  float: left;
  padding-right: 15px;
}

.widget_recent_reviews li .star-rating,
.product_list_widget li .star-rating,
.widget_shopping_cart li .star-rating {
  display: block;
  margin-bottom: 15px;
}

.widget_recent_reviews li .product-title,
.widget_recent_reviews li > a,
.product_list_widget li .product-title,
.product_list_widget li > a,
.widget_shopping_cart li .product-title,
.widget_shopping_cart li > a {
  display: block;
  color: #353535;
  font-size: 20px;
  line-height: 1.45em;
  font-weight: 500;
  letter-spacing: -0.5px;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

.widget_recent_reviews li .product-title:hover,
.widget_recent_reviews li > a:hover,
.product_list_widget li .product-title:hover,
.product_list_widget li > a:hover,
.widget_shopping_cart li .product-title:hover,
.widget_shopping_cart li > a:hover {
  color: #ed5252;
}

.widget_recent_reviews li a.remove,
.product_list_widget li a.remove,
.widget_shopping_cart li a.remove {
  float: right;
  font-size: 18px;
}

.widget_recent_reviews li del,
.widget_recent_reviews li .amount,
.product_list_widget li del,
.product_list_widget li .amount,
.widget_shopping_cart li del,
.widget_shopping_cart li .amount {
  color: #aaa;
}

.widget_recent_reviews li ins,
.product_list_widget li ins,
.widget_shopping_cart li ins {
  font-size: 17px;
}

.widget_price_filter .ui-slider-horizontal {
  height: 4px;
}

.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}

.widget_price_filter .price_slider {
  margin-bottom: 42px;
  margin-right: 10px;
}

.widget_price_filter .ui-widget-content {
  background-color: #d5d5d5;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-color: #858585;
  top: 0;
  height: 100%;
}

.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 17px;
  height: 17px;
  cursor: pointer;
  outline: 0;
  top: -6.5px;
  border-radius: 10px;
  background-color: #ed5252;
  margin-left: -3px;
}

.widget_price_filter .price_slider_amount .price_label {
  display: inline-block;
  line-height: 52px;
  height: 52px;
  float: right;
  font-size: 17px;
  color: #aaa;
  font-weight: 400;
}

.widget_price_filter .edgtf-widget-title {
  margin-bottom: 41px;
}

.widget_recently_viewed_products .edgtf-widget-title {
  margin-bottom: 27px;
}

.product_list_widget li img {
  max-width: 107px;
  padding-right: 22px;
}

/*==========================================================
#Widgets end
=============================================================*/

/*# sourceMappingURL=woocommerce.css.map */