.extended-custom-icon{
	background-image: url('img/vc-extend.png') !important; /* to override Visual Composer css style */
    background-size: auto !important; /* to override Visual Composer css style */
}
.extended-custom-icon.icon-wpb-portfolio {
	background-position:0px 0;
}
.extended-custom-icon.icon-wpb-portfolio-slider {
	background-position:-32px 0;
}
.extended-custom-icon.icon-wpb-carousel-slider {
	background-position:-64px 0;
}
.extended-custom-icon.icon-wpb-testimonials {
	background-position:-96px 0;
}
.extended-custom-icon.icon-wpb-accordion {
	background-position:-128px 0;
}
.extended-custom-icon.icon-wpb-accordion-item {
	background-position:-160px 0;
}
.extended-custom-icon.icon-wpb-animation-holder {
	background-position:-192px 0;
}
.extended-custom-icon.icon-wpb-banner {
	background-position:-224px 0;
}
.extended-custom-icon.icon-wpb-blockquote {
	background-position:-256px 0;
}
.extended-custom-icon.icon-wpb-blog-list {
	background-position:-288px 0;
}
.extended-custom-icon.icon-wpb-blog-slider {
	background-position:-320px 0;
}
.extended-custom-icon.icon-wpb-button {
	background-position:-352px 0;
}
.extended-custom-icon.icon-wpb-call-to-action {
	background-position:-384px 0;
}
.extended-custom-icon.icon-wpb-clients {
	background-position:-416px 0;
}
.extended-custom-icon.icon-wpb-client {
	background-position:-448px 0;
}
.extended-custom-icon.icon-wpb-combo-slider {
	background-position:-480px 0;
}
.extended-custom-icon.icon-wpb-combo-slide-item {
	background-position:-512px 0;
}
.extended-custom-icon.icon-wpb-countdown {
	background-position:-544px 0;
}
.extended-custom-icon.icon-wpb-counter {
	background-position:-576px 0;
}
.extended-custom-icon.icon-wpb-custom-font {
	background-position:-608px 0;
}
.extended-custom-icon.icon-wpb-elements-holder {
	background-position:-640px 0;
}
.extended-custom-icon.icon-wpb-elements-holder-item {
	background-position:-672px 0;
}
.extended-custom-icon.icon-wpb-google-map {
	background-position:-704px 0;
}
.extended-custom-icon.icon-wpb-icons {
	background-position:-736px 0;
}
.extended-custom-icon.icon-wpb-icon-list-item {
	background-position:-768px 0;
}
.extended-custom-icon.icon-wpb-icon-with-text {
	background-position:-800px 0;
}
.extended-custom-icon.icon-wpb-image-gallery {
	background-position:-832px 0;
}
.extended-custom-icon.icon-wpb-showcase {
	background-position:-864px 0;
}
.extended-custom-icon.icon-wpb-showcase-list-item {
	background-position:-896px 0;
}
.extended-custom-icon.icon-wpb-message {
	background-position:-928px 0;
}
.extended-custom-icon.icon-wpb-numbered-boxes-holder {
	background-position:-960px 0;
}
.extended-custom-icon.icon-wpb-numbered-box {
	background-position:-992px 0;
}
.extended-custom-icon.icon-wpb-ordered-list {
	background-position:-1024px 0;
}
.extended-custom-icon.icon-wpb-pie-chart {
	background-position:-1056px 0;
}
.extended-custom-icon.icon-wpb-pie-chart2 {
	background-position:-1088px 0;
}
.extended-custom-icon.icon-wpb-pie-chart3 {
	background-position:-1120px 0;
}
.extended-custom-icon.icon-wpb-pie-chart-with-icon {
	background-position:-1152px 0;
}
.extended-custom-icon.icon-wpb-pricing-tables {
	background-position:-1184px 0;
}
.extended-custom-icon.icon-wpb-pricing-table {
	background-position:-1216px 0;
}
.extended-custom-icon.icon-wpb-progress-bar {
	background-position:-1248px 0;
}
.extended-custom-icon.icon-wpb-process-holder {
	background-position:-1280px 0;
}
.extended-custom-icon.icon-wpb-process-item {
	background-position:-1312px 0;
}
.extended-custom-icon.icon-wpb-section-subtitle {
	background-position:-1344px 0;
}
.extended-custom-icon.icon-wpb-separator {
	background-position:-1376px 0;
}
.extended-custom-icon.icon-wpb-section-title {
	background-position:-1408px 0;
}
.extended-custom-icon.icon-wpb-shop-masonry {
	background-position:-1440px 0;
}
.extended-custom-icon.icon-wpb-social-share {
	background-position:-1472px 0;
}
.extended-custom-icon.icon-wpb-tabs {
	background-position:-1504px 0;
}
.extended-custom-icon.icon-wpb-tab {
	background-position:-1536px 0;
}
.extended-custom-icon.icon-wpb-team {
	background-position:-1568px 0;
}
.extended-custom-icon.icon-wpb-unordered-list {
	background-position:-1600px 0;
}
.extended-custom-icon.icon-wpb-vertical-split-slider {
	background-position:-1632px 0;
}
.extended-custom-icon.icon-wpb-vertical-split-slider-left-panel {
	background-position:-1664px 0;
}
.extended-custom-icon.icon-wpb-vertical-split-slider-right-panel {
	background-position:-1696px 0;
}
.extended-custom-icon.icon-wpb-vertical-split-slider-content-item {
	background-position:-1728px 0;
}
.extended-custom-icon.icon-wpb-video-button {
	background-position:-1760px 0;
}
.extended-custom-icon.icon-wpb-vertical-marquee {
	background-position:-1792px 0;
}
.extended-custom-icon.icon-wpb-vertical-marquee-item {
	background-position:-1824px 0;
}
.extended-custom-icon.icon-wpb-device-presentation {
	background-position:-1856px 0;
}
.extended-custom-icon.icon-wpb-preview-slider {
	background-position:-1888px 0;
}
.extended-custom-icon.icon-wpb-preview-slide{
	background-position:-1920px 0;
}
.extended-custom-icon.icon-wpb-cascading-images{
	background-position:-1952px 0;
}
.extended-custom-icon.icon-wpb-events{
	background-position:-1984px 0;
}
.extended-custom-icon.icon-wpb-albums {
	background-position:-2016px 0;
}
.extended-custom-icon.icon-wpb-album-player {
	background-position:-2048px 0;
}
.extended-custom-icon.icon-wpb-album {
	background-position:-2080px 0;
}
.extended-custom-icon.icon-wpb-audio-playlist {
	background-position:-2112px 0;
}
.extended-custom-icon.icon-wpb-boxed-icons {
	background-position:-2144px 0;
}
.wpb_edgtf_vertical_split_slider_left_panel {
	width: 50%;
	float: left;
	clear: left;
}

.wpb_edgtf_vertical_split_slider_right_panel {
	width: 50%;
	float: right;
	clear: right;
}

.wpb_edgtf_vertical_split_slider_left_panel > .controls > .column_edit,
.wpb_edgtf_vertical_split_slider_right_panel > .controls > .column_edit{
	display: none;
}